/// {{{description}}}
/// {{classname}}: {{#allowableValues}}{{values}}{{/allowableValues}}
class {{classname}} {
  /// The underlying value of {{classname}} enum.
  late final {{dataType}} _value;

  {{classname}}._internal(this._value);

  {{#allowableValues}}
    {{#values}}
      {{#description}}
  /// {{description}}
      {{/description}}
  // ignore: non_constant_identifier_names
  static final {{classname}} {{.}} = {{classname}}._internal("{{.}}");
    {{/values}}
  {{/allowableValues}}

  /// Creates a {{classname}} instance from a JSON representation.
  {{classname}}.fromJson(dynamic data) {
    switch (data) {
    {{#allowableValues}}
      {{#enumVars}}
      case {{{value}}}:
      {{/enumVars}}
        _value = data;
        break;
    {{/allowableValues}}
    default: throw Exception('Unknown enum value to decode: $data');
    }
  }

  /// Returns a JSON representation of {{classname}}.
  {{dataType}}? toJson() {
    return _value;
  }

  @override
  String toString() {
    return _value.toString();
  }

  /// Converts a list of JSON objects to a list of {{classname}} instances.
  ///
  /// @param json The list of JSON objects to convert.
  /// @return A list of {{classname}} instances.
  static List<{{classname}}> listFromJson(List<dynamic> json) {
    return json.map((value) => {{classname}}.fromJson(value)).toList();
  }
}
