{{#models}}{{#model}}# {{pubName}}.model.{{classname}}

## Load the model package

```dart
import 'package:{{pubName}}/aspose_barcode_cloud.dart';
```
{{#description}}
{{description}}
{{/description}}
{{#allowableValues}}
## Allowable values

{{#enumVars}}
* {{#-first}}**{{/-first}}{{{classname}}}.{{name}}{{#-first}}**{{/-first}}
{{/enumVars}}
{{/allowableValues}}
{{#hasVars}}

## Properties

Name | Type | Description | Notes
---- | ---- | ----------- | -----
{{#vars}}**{{name}}** | {{#isPrimitiveType}}**{{datatype}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{datatype}}**]({{complexType}}.md){{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{defaultValue}}]{{/defaultValue}}
{{/vars}}
{{/hasVars}}
{{/model}}{{/models}}
