[submodule "submodules/dotnet"]
	path = submodules/dotnet
	url = ../aspose-barcode-cloud-dotnet
[submodule "submodules/go"]
	path = submodules/go
	url = ../aspose-barcode-cloud-go
[submodule "submodules/node"]
	path = submodules/node
	url = ../aspose-barcode-cloud-node
