{{#operations}}
{{#operation}}
/**
 * --------------------------------------------------------------------------------------------------------------------
 * <copyright company="Aspose" file="{{nickname}}Request.php">
 *   Copyright (c) 2025 Aspose Pty Ltd
 * </copyright>
 * --------------------------------------------------------------------------------------------------------------------
 */

declare(strict_types=1);

namespace Aspose\BarCode\Requests;

/**
 * Request model for "{{nickname}}" operation.
 */
class {{operationId}}Request
{
    {{#hasParams}}
    /**
     * Initializes a new instance of the {{operationId}}Request class.
     *
     {{#allParams}}
     * @param {{dataType}} ${{paramName}} {{#description}}{{{description}}}{{/description}}
     {{/allParams}}
     */
    public function __construct({{#allParams}}${{paramName}}{{^required}} = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
    {
        {{#allParams}}
        $this->{{paramName}} = ${{paramName}};
        {{/allParams}}
    }

    {{#allParams}}
    /**
     * {{^description}}Gets or sets {{paramName}}{{/description}}{{#description}}{{{description}}}{{/description}}
     */
    public ${{paramName}};
    {{#hasMore}}

    {{/hasMore}}
    {{/allParams}}
    {{/hasParams}}
}
{{/operation}}
{{/operations}}
