{{#operations}}
{{#operation}}
/**
 * --------------------------------------------------------------------------------------------------------------------
 * <copyright company="Aspose" file="{{nickname}}RequestWrapper.php">
 *   Copyright (c) 2025 Aspose Pty Ltd
 * </copyright>
 * --------------------------------------------------------------------------------------------------------------------
 */

declare(strict_types=1);

namespace Aspose\BarCode\Requests;

/**
 * Request model for "{{nickname}}" operation.
 */
class {{operationId}}RequestWrapper
{
    {{#hasParams}}
    /**
     * Initializes a new instance of the {{operationId}}RequestWrapper class.
     *
     {{#allParams}}
     * @param {{^schema}}{{dataType}}{{/schema}}{{#schema}}{{dataType}}{{/schema}} ${{paramName}} {{#description}}{{{description}}}{{/description}}
     {{/allParams}}
     */
    public function __construct({{#allParams}}${{paramName}}{{^required}} = null{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
    {
        {{#allParams}}
        $this->{{paramName}} = ${{paramName}};
        {{/allParams}}
    }

    {{#allParams}}
    /**
     * {{^description}}Gets or sets {{paramName}}{{/description}}{{#description}}{{{description}}}{{/description}}
     */
    public ${{paramName}};
    {{^-last}}

    {{/-last}}
    {{/allParams}}
    {{/hasParams}}
}
{{/operation}}
{{/operations}}
