# {{classname}}{{#description}}
{{description}}{{/description}}

All URIs are relative to *<{{basePath}}>*

Method | HTTP request | Description
------ | ------------ | -----------
{{#operations}}{{#operation}}[**{{operationId}}**]({{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}
{{#operations}}
{{#operation}}
## {{operationId}}

> {{#returnType}}{{returnType}} {{/returnType}}{{operationId}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}})

{{summary}}{{#notes}}

{{notes}}{{/notes}}

### {{operationId}} example

```java
// Import classes:{{#hasAuthMethods}}
import {{{invokerPackage}}}.ApiClient;{{/hasAuthMethods}}
import {{{invokerPackage}}}.ApiException;{{#hasAuthMethods}}
import {{{invokerPackage}}}.Configuration;
import {{{invokerPackage}}}.auth.*;{{/hasAuthMethods}}
import {{{package}}}.{{{classname}}};

public class Main {

    public static void main(String[] args) {

        ApiClient client = new ApiClient(
            "Client Id from https://dashboard.aspose.cloud/applications",
            "Client Secret from https://dashboard.aspose.cloud/applications"
        );

        {{{classname}}} api = new {{{classname}}}(client);
        {{#requiredParams}}
        {{{dataType}}} {{{paramName}}} = {{{example}}}; // {{{dataType}}} | {{{description}}}
        {{/requiredParams}}
        try {
            {{#returnType}}{{{returnType}}} result = {{/returnType}}api.{{{operationId}}}({{#requiredParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/requiredParams}});{{#returnType}}
            System.out.println(result);{{/returnType}}
        } catch (ApiException e) {
            System.err.println("Exception when calling {{{classname}}}.{{{operationId}}}");
            e.printStackTrace();
        }
    }
}
```

### {{operationId}} parameters
{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#allParams}}{{#-last}}
Name | Type | Description  | Notes
---- | ---- | ------------ | -----{{/-last}}{{/allParams}}
{{#allParams}} **{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}{{#items}}{{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{dataType}}**]({{baseType}}.md){{/isPrimitiveType}}{{/items}}{{^items}}[**{{dataType}}**]({{baseType}}.md){{/items}}{{/isFile}}{{/isPrimitiveType}}| {{description}} |{{^required}} [optional]{{/required}}{{#defaultValue}} [default to {{defaultValue}}]{{/defaultValue}}{{#allowableValues}} [enum: {{#values}}{{{.}}}{{^-last}}, {{/-last}}{{/values}}]{{/allowableValues}}
{{/allParams}}

### {{operationId}} return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{^isResponseFile}}[**{{returnType}}**]({{returnBaseType}}.md){{/isResponseFile}}{{#isResponseFile}}**{{returnType}}**{{/isResponseFile}}{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

{{/operation}}
{{/operations}}
