{{>licenseInfo}}

package {{invokerPackage}};

import java.util.Map;

/**
 * Representing a Server configuration.
 */
{{>generatedAnnotation}}
public class ServerConfiguration {
    public String url;
    public String description;
    public Map<String, ServerVariable> variables;

    /**
      Constructor
     * @param url A url to the target host.
     * @param description A description of the host designated by the url.
     * @param variables A map between a variable name and its value. The value is used for substitution in the server's url template.
     */
    public ServerConfiguration(String url, String description, Map<String, ServerVariable> variables) {
        this.url = url;
        this.description = description;
        this.variables = variables;
    }

    /**
     * Format url template using given variables.
     *
     * @param variables A map between a variable name and its value.
     * @return Formatted url.
     */
    public String url(Map<String, String> variables) {
        String url = this.url;

        // go through variables and replace placeholders
        for (Map.Entry<String, ServerVariable> variable: this.variables.entrySet()) {
            String name = variable.getKey();
            ServerVariable serverVariable = variable.getValue();
            String value = serverVariable.defaultValue;

            if (variables != null && variables.containsKey(name)) {
                value = variables.get(name);
                if (serverVariable.enumValues.size() > 0 && !serverVariable.enumValues.contains(value)) {
                    throw new IllegalArgumentException("The variable " + name + " in the server url has invalid value " + value + ".");
                }
            }
            url = url.replace("{" + name + "}", value);
        }
        return url;
    }

    /**
     * Format url template using default server variables.
     *
     * @return Formatted url.
     */
    public String url() {
        return url(null);
    }
}
