{
  "openapi": "3.0.4",
  "info": {
    "title": "Aspose.BarCode.Cloud v4.0 Specification",
    "description": "High quality barcodes generation and recognition API",
    "version": "4.0"
  },
  "servers": [
    {
      "url": "https://api.aspose.cloud/v4.0"
    }
  ],
  "paths": {
    "/barcode/generate/{barcodeType}": {
      "get": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate a barcode using a GET request with parameters in the route and query string.",
        "operationId": "Generate",
        "parameters": [
          {
            "name": "barcodeType",
            "in": "path",
            "description": "Type of barcode to generate.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/EncodeBarcodeType"
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "Type of data to encode.\nDefault value: StringData.",
            "schema": {
              "$ref": "#/components/schemas/EncodeDataType"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "String that represents the data to encode.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imageFormat",
            "in": "query",
            "description": "Barcode output image format.\nDefault value: png.",
            "schema": {
              "$ref": "#/components/schemas/BarcodeImageFormat"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "textLocation",
            "in": "query",
            "description": "Specify the displayed text location. Set to CodeLocation.None to hide CodeText.\nDefault value depends on BarcodeType: CodeLocation.Below for 1D barcodes and CodeLocation.None for 2D barcodes.",
            "schema": {
              "$ref": "#/components/schemas/CodeLocation"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "foregroundColor",
            "in": "query",
            "description": "Specify the display color for bars and content.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: Black.",
            "schema": {
              "type": "string",
              "default": "Black"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "description": "Background color of the barcode image.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: White.",
            "schema": {
              "type": "string",
              "default": "White"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Common units for all measurements. Default units: pixels.",
            "schema": {
              "$ref": "#/components/schemas/GraphicsUnit"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "resolution",
            "in": "query",
            "description": "Resolution of the barcode image.\nOne value for both dimensions.\nDefault value: 96 dpi.\nDecimal separator is a dot.",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "number",
              "format": "float"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "imageHeight",
            "in": "query",
            "description": "Height of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "imageWidth",
            "in": "query",
            "description": "Width of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "rotationAngle",
            "in": "query",
            "description": "Barcode image rotation angle, measured in degrees. For example, RotationAngle = 0 or RotationAngle = 360 means no rotation.\nIf RotationAngle is not equal to 90, 180, 270, or 0, it may increase the difficulty for the scanner to read the image.\nDefault value: 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-param-group-snake": "barcode_image_params",
            "x-param-group-camel": "barcodeImageParams",
            "x-param-group-pascal": "BarcodeImageParams",
            "x-param-group-type": "BarcodeImageParams"
          },
          {
            "name": "qrEncodeMode",
            "in": "query",
            "description": "QR barcode encode mode.",
            "schema": {
              "$ref": "#/components/schemas/QREncodeMode"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "qrErrorLevel",
            "in": "query",
            "description": "QR barcode error correction level.",
            "schema": {
              "$ref": "#/components/schemas/QRErrorLevel"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "qrVersion",
            "in": "query",
            "description": "QR barcode version. Automatically selects the smallest version that fits the data.",
            "schema": {
              "$ref": "#/components/schemas/QRVersion"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "qrECIEncoding",
            "in": "query",
            "description": "ECI encoding for QR barcode data.",
            "schema": {
              "$ref": "#/components/schemas/ECIEncodings"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "qrAspectRatio",
            "in": "query",
            "description": "QR barcode aspect ratio. Values: 0 to 1.",
            "schema": {
              "maximum": 1,
              "minimum": 0.001,
              "type": "number",
              "format": "float"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "microQRVersion",
            "in": "query",
            "description": "MicroQR barcode version. Used when BarcodeType is MicroQR.",
            "schema": {
              "$ref": "#/components/schemas/MicroQRVersion"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "rectMicroQrVersion",
            "in": "query",
            "description": "RectMicroQR barcode version. Used when BarcodeType is RectMicroQR.",
            "schema": {
              "$ref": "#/components/schemas/RectMicroQRVersion"
            },
            "x-param-group-snake": "qr_params",
            "x-param-group-camel": "qrParams",
            "x-param-group-pascal": "QrParams",
            "x-param-group-type": "QrParams"
          },
          {
            "name": "code128EncodeMode",
            "in": "query",
            "description": "Code128 barcode encode mode. Controls which Code 128 subset (A, B, C, or mix) is used.",
            "schema": {
              "$ref": "#/components/schemas/Code128EncodeMode"
            },
            "x-param-group-snake": "code128_params",
            "x-param-group-camel": "code128Params",
            "x-param-group-pascal": "Code128Params",
            "x-param-group-type": "Code128Params"
          },
          {
            "name": "pdf417EncodeMode",
            "in": "query",
            "description": "PDF417 barcode encode mode.",
            "schema": {
              "$ref": "#/components/schemas/Pdf417EncodeMode"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417ErrorLevel",
            "in": "query",
            "description": "PDF417 barcode error correction level.",
            "schema": {
              "$ref": "#/components/schemas/Pdf417ErrorLevel"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417Truncate",
            "in": "query",
            "description": "Whether to use truncated PDF417 format (removes right-side stop pattern).",
            "schema": {
              "type": "boolean"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417Columns",
            "in": "query",
            "description": "Number of columns in the PDF417 barcode. Values between 1 and 30. 0 for auto.",
            "schema": {
              "maximum": 30,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417Rows",
            "in": "query",
            "description": "Number of rows in the PDF417 barcode. Values between 3 and 90. 0 for automatic.",
            "schema": {
              "maximum": 90,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417AspectRatio",
            "in": "query",
            "description": "PDF417 barcode aspect ratio (height/width of the barcode module). Values are defined by the standard: 2 to 5 for MicroPdf417; 3 to 5 for Pdf417 and MacroPdf417.",
            "schema": {
              "maximum": 10,
              "minimum": 2,
              "type": "number",
              "format": "float"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417ECIEncoding",
            "in": "query",
            "description": "ECI encoding for PDF417 barcode data.",
            "schema": {
              "$ref": "#/components/schemas/ECIEncodings"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417IsReaderInitialization",
            "in": "query",
            "description": "Whether the barcode is used for reader initialization (programming).",
            "schema": {
              "type": "boolean"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417MacroCharacters",
            "in": "query",
            "description": "Macro character to prepend (structured append).",
            "schema": {
              "$ref": "#/components/schemas/MacroCharacter"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417IsLinked",
            "in": "query",
            "description": "Whether to use linked mode (for MicroPdf417).",
            "schema": {
              "type": "boolean"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          },
          {
            "name": "pdf417IsCode128Emulation",
            "in": "query",
            "description": "Whether to use Code128 emulation for MicroPdf417.",
            "schema": {
              "type": "boolean"
            },
            "x-param-group-snake": "pdf417_params",
            "x-param-group-camel": "pdf417Params",
            "x-param-group-pascal": "Pdf417Params",
            "x-param-group-type": "Pdf417Params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-binary-result": true,
        "x-param-groups": [
          {
            "camel": "barcodeImageParams",
            "snake": "barcode_image_params",
            "pascal": "BarcodeImageParams",
            "type": "BarcodeImageParams"
          },
          {
            "camel": "qrParams",
            "snake": "qr_params",
            "pascal": "QrParams",
            "type": "QrParams"
          },
          {
            "camel": "code128Params",
            "snake": "code128_params",
            "pascal": "Code128Params",
            "type": "Code128Params"
          },
          {
            "camel": "pdf417Params",
            "snake": "pdf417_params",
            "pascal": "Pdf417Params",
            "type": "Pdf417Params"
          }
        ],
        "x-has-param-groups": true
      }
    },
    "/barcode/generate-multipart": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate a barcode using a POST request with parameters in a multipart form.",
        "operationId": "GenerateMultipart",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "barcodeType",
                  "data"
                ],
                "type": "object",
                "properties": {
                  "barcodeType": {
                    "$ref": "#/components/schemas/EncodeBarcodeType"
                  },
                  "dataType": {
                    "$ref": "#/components/schemas/EncodeDataType"
                  },
                  "data": {
                    "type": "string",
                    "description": "String that represents the data to encode."
                  },
                  "imageFormat": {
                    "$ref": "#/components/schemas/BarcodeImageFormat"
                  },
                  "textLocation": {
                    "$ref": "#/components/schemas/CodeLocation"
                  },
                  "foregroundColor": {
                    "type": "string",
                    "description": "Specify the display color for bars and content.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: Black.",
                    "default": "Black"
                  },
                  "backgroundColor": {
                    "type": "string",
                    "description": "Background color of the barcode image.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: White.",
                    "default": "White"
                  },
                  "units": {
                    "$ref": "#/components/schemas/GraphicsUnit"
                  },
                  "resolution": {
                    "maximum": 100000,
                    "minimum": 1,
                    "type": "number",
                    "description": "Resolution of the barcode image.\nOne value for both dimensions.\nDefault value: 96 dpi.\nDecimal separator is a dot.",
                    "format": "float"
                  },
                  "imageHeight": {
                    "type": "number",
                    "description": "Height of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
                    "format": "float"
                  },
                  "imageWidth": {
                    "type": "number",
                    "description": "Width of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
                    "format": "float"
                  },
                  "rotationAngle": {
                    "type": "integer",
                    "description": "Barcode image rotation angle, measured in degrees. For example, RotationAngle = 0 or RotationAngle = 360 means no rotation.\nIf RotationAngle is not equal to 90, 180, 270, or 0, it may increase the difficulty for the scanner to read the image.\nDefault value: 0.",
                    "format": "int32"
                  },
                  "qrEncodeMode": {
                    "$ref": "#/components/schemas/QREncodeMode"
                  },
                  "qrErrorLevel": {
                    "$ref": "#/components/schemas/QRErrorLevel"
                  },
                  "qrVersion": {
                    "$ref": "#/components/schemas/QRVersion"
                  },
                  "qrECIEncoding": {
                    "$ref": "#/components/schemas/ECIEncodings"
                  },
                  "qrAspectRatio": {
                    "maximum": 1,
                    "minimum": 0.001,
                    "type": "number",
                    "description": "QR barcode aspect ratio. Values: 0 to 1.",
                    "format": "float"
                  },
                  "microQRVersion": {
                    "$ref": "#/components/schemas/MicroQRVersion"
                  },
                  "rectMicroQrVersion": {
                    "$ref": "#/components/schemas/RectMicroQRVersion"
                  },
                  "code128EncodeMode": {
                    "$ref": "#/components/schemas/Code128EncodeMode"
                  },
                  "pdf417EncodeMode": {
                    "$ref": "#/components/schemas/Pdf417EncodeMode"
                  },
                  "pdf417ErrorLevel": {
                    "$ref": "#/components/schemas/Pdf417ErrorLevel"
                  },
                  "pdf417Truncate": {
                    "type": "boolean",
                    "description": "Whether to use truncated PDF417 format (removes right-side stop pattern)."
                  },
                  "pdf417Columns": {
                    "maximum": 30,
                    "minimum": 0,
                    "type": "integer",
                    "description": "Number of columns in the PDF417 barcode. Values between 1 and 30. 0 for auto.",
                    "format": "int32"
                  },
                  "pdf417Rows": {
                    "maximum": 90,
                    "minimum": 0,
                    "type": "integer",
                    "description": "Number of rows in the PDF417 barcode. Values between 3 and 90. 0 for automatic.",
                    "format": "int32"
                  },
                  "pdf417AspectRatio": {
                    "maximum": 10,
                    "minimum": 2,
                    "type": "number",
                    "description": "PDF417 barcode aspect ratio (height/width of the barcode module). Values are defined by the standard: 2 to 5 for MicroPdf417; 3 to 5 for Pdf417 and MacroPdf417.",
                    "format": "float"
                  },
                  "pdf417ECIEncoding": {
                    "$ref": "#/components/schemas/ECIEncodings"
                  },
                  "pdf417IsReaderInitialization": {
                    "type": "boolean",
                    "description": "Whether the barcode is used for reader initialization (programming)."
                  },
                  "pdf417MacroCharacters": {
                    "$ref": "#/components/schemas/MacroCharacter"
                  },
                  "pdf417IsLinked": {
                    "type": "boolean",
                    "description": "Whether to use linked mode (for MicroPdf417)."
                  },
                  "pdf417IsCode128Emulation": {
                    "type": "boolean",
                    "description": "Whether to use Code128 emulation for MicroPdf417."
                  }
                }
              },
              "encoding": {
                "barcodeType": {
                  "style": "form"
                },
                "dataType": {
                  "style": "form"
                },
                "data": {
                  "style": "form"
                },
                "imageFormat": {
                  "style": "form"
                },
                "textLocation": {
                  "style": "form"
                },
                "foregroundColor": {
                  "style": "form"
                },
                "backgroundColor": {
                  "style": "form"
                },
                "units": {
                  "style": "form"
                },
                "resolution": {
                  "style": "form"
                },
                "imageHeight": {
                  "style": "form"
                },
                "imageWidth": {
                  "style": "form"
                },
                "rotationAngle": {
                  "style": "form"
                },
                "qrEncodeMode": {
                  "style": "form"
                },
                "qrErrorLevel": {
                  "style": "form"
                },
                "qrVersion": {
                  "style": "form"
                },
                "qrECIEncoding": {
                  "style": "form"
                },
                "qrAspectRatio": {
                  "style": "form"
                },
                "microQRVersion": {
                  "style": "form"
                },
                "rectMicroQrVersion": {
                  "style": "form"
                },
                "code128EncodeMode": {
                  "style": "form"
                },
                "pdf417EncodeMode": {
                  "style": "form"
                },
                "pdf417ErrorLevel": {
                  "style": "form"
                },
                "pdf417Truncate": {
                  "style": "form"
                },
                "pdf417Columns": {
                  "style": "form"
                },
                "pdf417Rows": {
                  "style": "form"
                },
                "pdf417AspectRatio": {
                  "style": "form"
                },
                "pdf417ECIEncoding": {
                  "style": "form"
                },
                "pdf417IsReaderInitialization": {
                  "style": "form"
                },
                "pdf417MacroCharacters": {
                  "style": "form"
                },
                "pdf417IsLinked": {
                  "style": "form"
                },
                "pdf417IsCode128Emulation": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-binary-result": true
      }
    },
    "/barcode/generate-body": {
      "post": {
        "tags": [
          "Generate"
        ],
        "summary": "Generate a barcode using a POST request with parameters in the request body in JSON or XML format.",
        "operationId": "GenerateBody",
        "requestBody": {
          "description": "Generation parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateParams"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GenerateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-binary-result": true
      }
    },
    "/barcode/recognize": {
      "get": {
        "tags": [
          "Recognize"
        ],
        "summary": "Recognize a barcode from a file on an Internet server using a GET request with a query string parameter.\nFor recognizing files from your hard drive, use `recognize-body` or `recognize-multipart` endpoints instead.",
        "operationId": "Recognize",
        "parameters": [
          {
            "name": "barcodeType",
            "in": "query",
            "description": "Type of barcode to recognize.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DecodeBarcodeType"
            }
          },
          {
            "name": "fileUrl",
            "in": "query",
            "description": "URL to the barcode image.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "recognitionMode",
            "in": "query",
            "description": "Recognition mode.",
            "schema": {
              "$ref": "#/components/schemas/RecognitionMode"
            }
          },
          {
            "name": "recognitionImageKind",
            "in": "query",
            "description": "Image kind for recognition.",
            "schema": {
              "$ref": "#/components/schemas/RecognitionImageKind"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/barcode/recognize-body": {
      "post": {
        "tags": [
          "Recognize"
        ],
        "summary": "Recognize a barcode from a file in the request body using a POST request with JSON or XML body parameters.",
        "operationId": "RecognizeBase64",
        "requestBody": {
          "description": "Barcode recognition request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecognizeBase64Request"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RecognizeBase64Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/barcode/recognize-multipart": {
      "post": {
        "tags": [
          "Recognize"
        ],
        "summary": "Recognize a barcode from a file in the request body using a POST request with multipart form parameters.",
        "operationId": "RecognizeMultipart",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "barcodeType",
                  "file"
                ],
                "type": "object",
                "properties": {
                  "barcodeType": {
                    "$ref": "#/components/schemas/DecodeBarcodeType"
                  },
                  "file": {
                    "type": "string",
                    "description": "Barcode image file.",
                    "format": "binary"
                  },
                  "recognitionMode": {
                    "$ref": "#/components/schemas/RecognitionMode"
                  },
                  "recognitionImageKind": {
                    "$ref": "#/components/schemas/RecognitionImageKind"
                  }
                }
              },
              "encoding": {
                "barcodeType": {
                  "style": "form"
                },
                "file": {
                  "style": "form"
                },
                "recognitionMode": {
                  "style": "form"
                },
                "recognitionImageKind": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/barcode/scan": {
      "get": {
        "tags": [
          "Scan"
        ],
        "summary": "Scan a barcode from a file on an Internet server using a GET request with a query string parameter.\nFor scanning files from your hard drive, use `scan-body` or `scan-multipart` endpoints instead.",
        "operationId": "Scan",
        "parameters": [
          {
            "name": "fileUrl",
            "in": "query",
            "description": "URL to the barcode image.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/barcode/scan-body": {
      "post": {
        "tags": [
          "Scan"
        ],
        "summary": "Scan a barcode from a file in the request body using a POST request with a JSON or XML body parameter.",
        "operationId": "ScanBase64",
        "requestBody": {
          "description": "Barcode scan request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanBase64Request"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ScanBase64Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/barcode/scan-multipart": {
      "post": {
        "tags": [
          "Scan"
        ],
        "summary": "Scan a barcode from a file in the request body using a POST request with a multipart form parameter.",
        "operationId": "ScanMultipart",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Barcode image file.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Gets or sets api error code.",
            "nullable": true,
            "xml": {
              "name": "Code"
            }
          },
          "message": {
            "type": "string",
            "description": "Gets or sets error message.",
            "nullable": true,
            "xml": {
              "name": "Message"
            }
          },
          "description": {
            "type": "string",
            "description": "Gets or sets error description.",
            "nullable": true,
            "xml": {
              "name": "Description"
            }
          },
          "dateTime": {
            "type": "string",
            "description": "Gets or sets server datetime.",
            "format": "date-time",
            "nullable": true,
            "xml": {
              "name": "DateTime"
            }
          },
          "innerError": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "additionalProperties": false,
        "description": "Api Error.",
        "xml": {
          "name": "ApiError"
        }
      },
      "ApiErrorResponse": {
        "required": [
          "error",
          "requestId"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Gets or sets request Id.",
            "nullable": true,
            "xml": {
              "name": "RequestId"
            }
          },
          "error": {
            "$ref": "#/components/schemas/ApiError"
          }
        },
        "additionalProperties": false,
        "description": "ApiError Response",
        "xml": {
          "name": "ApiErrorResponse"
        }
      },
      "BarcodeImageFormat": {
        "enum": [
          "Png",
          "Jpeg",
          "Svg",
          "Tiff",
          "Gif"
        ],
        "type": "string",
        "description": "Specifies the file format of the image.",
        "xml": {
          "name": "ImageFormat"
        }
      },
      "BarcodeImageParams": {
        "type": "object",
        "properties": {
          "imageFormat": {
            "$ref": "#/components/schemas/BarcodeImageFormat"
          },
          "textLocation": {
            "$ref": "#/components/schemas/CodeLocation"
          },
          "foregroundColor": {
            "type": "string",
            "description": "Specify the display color for bars and content.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: Black.",
            "default": "Black",
            "nullable": true,
            "xml": {
              "name": "ForegroundColor"
            }
          },
          "backgroundColor": {
            "type": "string",
            "description": "Background color of the barcode image.\nValue: Color name from https://reference.aspose.com/drawing/net/system.drawing/color/ or ARGB value starting with #.\nFor example: AliceBlue or #FF000000.\nDefault value: White.",
            "default": "White",
            "nullable": true,
            "xml": {
              "name": "BackgroundColor"
            }
          },
          "units": {
            "$ref": "#/components/schemas/GraphicsUnit"
          },
          "resolution": {
            "maximum": 100000,
            "minimum": 1,
            "type": "number",
            "description": "Resolution of the barcode image.\nOne value for both dimensions.\nDefault value: 96 dpi.\nDecimal separator is a dot.",
            "format": "float",
            "nullable": true,
            "xml": {
              "name": "Resolution"
            },
            "example": 96
          },
          "imageHeight": {
            "type": "number",
            "description": "Height of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
            "format": "float",
            "nullable": true,
            "xml": {
              "name": "ImageHeight"
            },
            "example": 200
          },
          "imageWidth": {
            "type": "number",
            "description": "Width of the barcode image in the specified units. Default units: pixels.\nDecimal separator is a dot.",
            "format": "float",
            "nullable": true,
            "xml": {
              "name": "ImageWidth"
            },
            "example": 200
          },
          "rotationAngle": {
            "type": "integer",
            "description": "Barcode image rotation angle, measured in degrees. For example, RotationAngle = 0 or RotationAngle = 360 means no rotation.\nIf RotationAngle is not equal to 90, 180, 270, or 0, it may increase the difficulty for the scanner to read the image.\nDefault value: 0.",
            "format": "int32",
            "nullable": true,
            "xml": {
              "name": "RotationAngle"
            }
          }
        },
        "additionalProperties": false,
        "description": "Optional barcode image parameters.",
        "xml": {
          "name": "BarcodeImageParams"
        }
      },
      "BarcodeResponse": {
        "type": "object",
        "properties": {
          "barcodeValue": {
            "type": "string",
            "description": "Barcode data.",
            "nullable": true,
            "xml": {
              "name": "BarcodeValue"
            }
          },
          "type": {
            "type": "string",
            "description": "Type of the barcode.",
            "nullable": true,
            "xml": {
              "name": "Type"
            }
          },
          "region": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionPoint"
            },
            "description": "Region with the barcode.",
            "nullable": true,
            "xml": {
              "name": "Region",
              "wrapped": true
            }
          },
          "checksum": {
            "type": "string",
            "description": "Checksum of the barcode.",
            "nullable": true,
            "xml": {
              "name": "Checksum"
            }
          }
        },
        "additionalProperties": false,
        "description": "Represents information about a barcode.",
        "xml": {
          "name": "BarcodeResponse"
        }
      },
      "BarcodeResponseList": {
        "required": [
          "barcodes"
        ],
        "type": "object",
        "properties": {
          "barcodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BarcodeResponse"
            },
            "description": "List of barcodes that are present in the image.",
            "nullable": true,
            "xml": {
              "name": "Barcodes",
              "wrapped": true
            }
          }
        },
        "additionalProperties": false,
        "description": "Represents information about a barcode list.",
        "xml": {
          "name": "BarcodeResponseList"
        }
      },
      "Code128EncodeMode": {
        "enum": [
          "Auto",
          "CodeA",
          "CodeB",
          "CodeAB",
          "CodeC",
          "CodeAC",
          "CodeBC"
        ],
        "type": "string",
        "description": "Code128 barcode encode mode. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/code128encodemode/",
        "xml": {
          "name": "Code128EncodeMode"
        }
      },
      "Code128Params": {
        "type": "object",
        "properties": {
          "code128EncodeMode": {
            "$ref": "#/components/schemas/Code128EncodeMode"
          }
        },
        "additionalProperties": false,
        "description": "Optional Code128 barcode generation parameters.",
        "xml": {
          "name": "Code128Params"
        }
      },
      "CodeLocation": {
        "enum": [
          "Below",
          "Above",
          "None"
        ],
        "type": "string",
        "xml": {
          "name": "TextLocation"
        }
      },
      "DecodeBarcodeType": {
        "enum": [
          "MostCommonlyUsed",
          "QR",
          "AustraliaPost",
          "AustralianPosteParcel",
          "Aztec",
          "Codabar",
          "CodablockF",
          "Code11",
          "Code128",
          "Code16K",
          "Code32",
          "Code39",
          "Code39FullASCII",
          "Code93",
          "CompactPdf417",
          "DataLogic2of5",
          "DataMatrix",
          "DatabarExpanded",
          "DatabarExpandedStacked",
          "DatabarLimited",
          "DatabarOmniDirectional",
          "DatabarStacked",
          "DatabarStackedOmniDirectional",
          "DatabarTruncated",
          "DeutschePostIdentcode",
          "DeutschePostLeitcode",
          "DotCode",
          "DutchKIX",
          "EAN13",
          "EAN14",
          "EAN8",
          "GS1Aztec",
          "GS1Code128",
          "GS1CompositeBar",
          "GS1DataMatrix",
          "GS1DotCode",
          "GS1HanXin",
          "GS1MicroPdf417",
          "GS1QR",
          "HanXin",
          "HIBCAztecLIC",
          "HIBCAztecPAS",
          "HIBCCode128LIC",
          "HIBCCode128PAS",
          "HIBCCode39LIC",
          "HIBCCode39PAS",
          "HIBCDataMatrixLIC",
          "HIBCDataMatrixPAS",
          "HIBCQRLIC",
          "HIBCQRPAS",
          "IATA2of5",
          "ISBN",
          "ISMN",
          "ISSN",
          "ITF14",
          "ITF6",
          "Interleaved2of5",
          "ItalianPost25",
          "MacroPdf417",
          "Mailmark",
          "Matrix2of5",
          "MaxiCode",
          "MicrE13B",
          "MicroPdf417",
          "MicroQR",
          "MSI",
          "OneCode",
          "OPC",
          "PatchCode",
          "Pdf417",
          "Pharmacode",
          "Planet",
          "Postnet",
          "PZN",
          "RectMicroQR",
          "RM4SCC",
          "SCC14",
          "SSCC18",
          "Standard2of5",
          "Supplement",
          "SwissPostParcel",
          "UPCA",
          "UPCE",
          "VIN"
        ],
        "type": "string",
        "description": "See https://reference.aspose.com/barcode/net/aspose.barcode.barcoderecognition/decodetype/",
        "xml": {
          "name": "DecodeBarcodeType"
        }
      },
      "ECIEncodings": {
        "enum": [
          "NONE",
          "ISO_8859_1",
          "ISO_8859_2",
          "ISO_8859_3",
          "ISO_8859_4",
          "ISO_8859_5",
          "ISO_8859_6",
          "ISO_8859_7",
          "ISO_8859_8",
          "ISO_8859_9",
          "ISO_8859_10",
          "ISO_8859_11",
          "ISO_8859_13",
          "ISO_8859_14",
          "ISO_8859_15",
          "ISO_8859_16",
          "Shift_JIS",
          "Win1250",
          "Win1251",
          "Win1252",
          "Win1256",
          "UTF16BE",
          "UTF8",
          "US_ASCII",
          "Big5",
          "GB2312",
          "EUC_KR",
          "GBK",
          "GB18030",
          "UTF16LE",
          "UTF32BE",
          "UTF32LE",
          "INVARIANT",
          "BINARY"
        ],
        "type": "string",
        "description": "ECI encoding identifiers. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/eciencodings/",
        "xml": {
          "name": "ECIEncodings"
        }
      },
      "EncodeBarcodeType": {
        "enum": [
          "QR",
          "AustraliaPost",
          "AustralianPosteParcel",
          "Aztec",
          "Codabar",
          "CodablockF",
          "Code11",
          "Code128",
          "Code16K",
          "Code32",
          "Code39",
          "Code39FullASCII",
          "Code93",
          "DataLogic2of5",
          "DataMatrix",
          "DatabarExpanded",
          "DatabarExpandedStacked",
          "DatabarLimited",
          "DatabarOmniDirectional",
          "DatabarStacked",
          "DatabarStackedOmniDirectional",
          "DatabarTruncated",
          "DeutschePostIdentcode",
          "DeutschePostLeitcode",
          "DotCode",
          "DutchKIX",
          "EAN13",
          "EAN14",
          "EAN8",
          "GS1Aztec",
          "GS1CodablockF",
          "GS1Code128",
          "GS1DataMatrix",
          "GS1DotCode",
          "GS1HanXin",
          "GS1MicroPdf417",
          "GS1QR",
          "HanXin",
          "IATA2of5",
          "ISBN",
          "ISMN",
          "ISSN",
          "ITF14",
          "ITF6",
          "Interleaved2of5",
          "ItalianPost25",
          "MSI",
          "MacroPdf417",
          "Mailmark",
          "Matrix2of5",
          "MaxiCode",
          "MicroPdf417",
          "MicroQR",
          "OPC",
          "OneCode",
          "PZN",
          "PatchCode",
          "Pdf417",
          "Pharmacode",
          "Planet",
          "Postnet",
          "RM4SCC",
          "RectMicroQR",
          "SCC14",
          "SSCC18",
          "SingaporePost",
          "Standard2of5",
          "SwissPostParcel",
          "UPCA",
          "UPCE",
          "UpcaGs1Code128Coupon",
          "UpcaGs1DatabarCoupon",
          "VIN"
        ],
        "type": "string",
        "description": "See https://reference.aspose.com/barcode/net/aspose.barcode.generation/encodetypes/",
        "xml": {
          "name": "BarcodeType"
        }
      },
      "EncodeData": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "dataType": {
            "$ref": "#/components/schemas/EncodeDataType"
          },
          "data": {
            "minLength": 1,
            "type": "string",
            "description": "String that represents the data to encode.",
            "xml": {
              "name": "Data"
            }
          }
        },
        "additionalProperties": false,
        "description": "Data to encode in a barcode.",
        "xml": {
          "name": "EncodeData"
        }
      },
      "EncodeDataType": {
        "enum": [
          "StringData",
          "Base64Bytes",
          "HexBytes"
        ],
        "type": "string",
        "description": "Types of data that can be encoded into a barcode.",
        "xml": {
          "name": "DataType"
        }
      },
      "GenerateParams": {
        "required": [
          "barcodeType",
          "encodeData"
        ],
        "type": "object",
        "properties": {
          "barcodeType": {
            "$ref": "#/components/schemas/EncodeBarcodeType"
          },
          "encodeData": {
            "$ref": "#/components/schemas/EncodeData"
          },
          "barcodeImageParams": {
            "$ref": "#/components/schemas/BarcodeImageParams"
          },
          "qrParams": {
            "$ref": "#/components/schemas/QrParams"
          },
          "code128Params": {
            "$ref": "#/components/schemas/Code128Params"
          },
          "pdf417Params": {
            "$ref": "#/components/schemas/Pdf417Params"
          }
        },
        "additionalProperties": false,
        "description": "Barcode generation parameters.",
        "xml": {
          "name": "GenerateParams"
        }
      },
      "GraphicsUnit": {
        "enum": [
          "Pixel",
          "Point",
          "Inch",
          "Millimeter"
        ],
        "type": "string",
        "description": "Subset of https://reference.aspose.com/drawing/net/system.drawing/graphicsunit/",
        "xml": {
          "name": "Units"
        }
      },
      "MacroCharacter": {
        "enum": [
          "None",
          "Macro05",
          "Macro06"
        ],
        "type": "string",
        "description": "PDF417 macro character mode. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/macrocharacter/",
        "xml": {
          "name": "MacroCharacter"
        }
      },
      "MicroQRVersion": {
        "enum": [
          "Auto",
          "M1",
          "M2",
          "M3",
          "M4"
        ],
        "type": "string",
        "description": "MicroQR barcode version. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/microqrversion/",
        "xml": {
          "name": "MicroQRVersion"
        }
      },
      "Pdf417EncodeMode": {
        "enum": [
          "Auto",
          "Binary",
          "ECI",
          "Extended"
        ],
        "type": "string",
        "description": "PDF417 barcode encode mode. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/pdf417encodemode/",
        "xml": {
          "name": "Pdf417EncodeMode"
        }
      },
      "Pdf417ErrorLevel": {
        "enum": [
          "Level0",
          "Level1",
          "Level2",
          "Level3",
          "Level4",
          "Level5",
          "Level6",
          "Level7",
          "Level8"
        ],
        "type": "string",
        "description": "PDF417 barcode error correction level. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/pdf417errorlevel/",
        "xml": {
          "name": "Pdf417ErrorLevel"
        }
      },
      "Pdf417Params": {
        "type": "object",
        "properties": {
          "pdf417EncodeMode": {
            "$ref": "#/components/schemas/Pdf417EncodeMode"
          },
          "pdf417ErrorLevel": {
            "$ref": "#/components/schemas/Pdf417ErrorLevel"
          },
          "pdf417Truncate": {
            "type": "boolean",
            "description": "Whether to use truncated PDF417 format (removes right-side stop pattern).",
            "nullable": true,
            "xml": {
              "name": "Pdf417Truncate"
            }
          },
          "pdf417Columns": {
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "description": "Number of columns in the PDF417 barcode. Values between 1 and 30. 0 for auto.",
            "format": "int32",
            "nullable": true,
            "xml": {
              "name": "Pdf417Columns"
            }
          },
          "pdf417Rows": {
            "maximum": 90,
            "minimum": 0,
            "type": "integer",
            "description": "Number of rows in the PDF417 barcode. Values between 3 and 90. 0 for automatic.",
            "format": "int32",
            "nullable": true,
            "xml": {
              "name": "Pdf417Rows"
            }
          },
          "pdf417AspectRatio": {
            "maximum": 10,
            "minimum": 2,
            "type": "number",
            "description": "PDF417 barcode aspect ratio (height/width of the barcode module). Values are defined by the standard: 2 to 5 for MicroPdf417; 3 to 5 for Pdf417 and MacroPdf417.",
            "format": "float",
            "nullable": true,
            "xml": {
              "name": "Pdf417AspectRatio"
            }
          },
          "pdf417ECIEncoding": {
            "$ref": "#/components/schemas/ECIEncodings"
          },
          "pdf417IsReaderInitialization": {
            "type": "boolean",
            "description": "Whether the barcode is used for reader initialization (programming).",
            "nullable": true,
            "xml": {
              "name": "Pdf417IsReaderInitialization"
            }
          },
          "pdf417MacroCharacters": {
            "$ref": "#/components/schemas/MacroCharacter"
          },
          "pdf417IsLinked": {
            "type": "boolean",
            "description": "Whether to use linked mode (for MicroPdf417).",
            "nullable": true,
            "xml": {
              "name": "Pdf417IsLinked"
            }
          },
          "pdf417IsCode128Emulation": {
            "type": "boolean",
            "description": "Whether to use Code128 emulation for MicroPdf417.",
            "nullable": true,
            "xml": {
              "name": "Pdf417IsCode128Emulation"
            }
          }
        },
        "additionalProperties": false,
        "description": "Optional PDF417 barcode generation parameters. Applies to Pdf417, MacroPdf417, MicroPdf417, and GS1MicroPdf417 barcode types.",
        "xml": {
          "name": "Pdf417Params"
        }
      },
      "QREncodeMode": {
        "enum": [
          "Auto",
          "Extended",
          "Binary",
          "ECI"
        ],
        "type": "string",
        "description": "QR barcode encode mode. Subset of https://reference.aspose.com/barcode/net/aspose.barcode.generation/qrencodemode/\nObsolete members (Bytes, Utf8BOM, Utf16BEBOM, ECIEncoding, ExtendedCodetext) are omitted.",
        "xml": {
          "name": "QREncodeMode"
        }
      },
      "QRErrorLevel": {
        "enum": [
          "LevelL",
          "LevelM",
          "LevelQ",
          "LevelH"
        ],
        "type": "string",
        "description": "QR barcode error correction level. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/qrerrorlevel/",
        "xml": {
          "name": "QRErrorLevel"
        }
      },
      "QRVersion": {
        "enum": [
          "Auto",
          "Version01",
          "Version02",
          "Version03",
          "Version04",
          "Version05",
          "Version06",
          "Version07",
          "Version08",
          "Version09",
          "Version10",
          "Version11",
          "Version12",
          "Version13",
          "Version14",
          "Version15",
          "Version16",
          "Version17",
          "Version18",
          "Version19",
          "Version20",
          "Version21",
          "Version22",
          "Version23",
          "Version24",
          "Version25",
          "Version26",
          "Version27",
          "Version28",
          "Version29",
          "Version30",
          "Version31",
          "Version32",
          "Version33",
          "Version34",
          "Version35",
          "Version36",
          "Version37",
          "Version38",
          "Version39",
          "Version40"
        ],
        "type": "string",
        "description": "QR barcode version. Subset of https://reference.aspose.com/barcode/net/aspose.barcode.generation/qrversion/\nMicroQR versions (VersionM1–VersionM4) are omitted; use Aspose.BarCode.Cloud.DTO.Enums.MicroQRVersion instead.",
        "xml": {
          "name": "QRVersion"
        }
      },
      "QrParams": {
        "type": "object",
        "properties": {
          "qrEncodeMode": {
            "$ref": "#/components/schemas/QREncodeMode"
          },
          "qrErrorLevel": {
            "$ref": "#/components/schemas/QRErrorLevel"
          },
          "qrVersion": {
            "$ref": "#/components/schemas/QRVersion"
          },
          "qrECIEncoding": {
            "$ref": "#/components/schemas/ECIEncodings"
          },
          "qrAspectRatio": {
            "maximum": 1,
            "minimum": 0.001,
            "type": "number",
            "description": "QR barcode aspect ratio. Values: 0 to 1.",
            "format": "float",
            "nullable": true,
            "xml": {
              "name": "QrAspectRatio"
            }
          },
          "microQRVersion": {
            "$ref": "#/components/schemas/MicroQRVersion"
          },
          "rectMicroQrVersion": {
            "$ref": "#/components/schemas/RectMicroQRVersion"
          }
        },
        "additionalProperties": false,
        "description": "Optional QR barcode generation parameters. Applies to QR, GS1QR, MicroQR, and RectMicroQR barcode types.",
        "xml": {
          "name": "QrParams"
        }
      },
      "RecognitionImageKind": {
        "enum": [
          "Photo",
          "ScannedDocument",
          "ClearImage"
        ],
        "type": "string",
        "description": "Kind of image to recognize",
        "xml": {
          "name": "RecognitionImageKind"
        }
      },
      "RecognitionMode": {
        "enum": [
          "Fast",
          "Normal",
          "Excellent"
        ],
        "type": "string",
        "description": "Recognition mode.",
        "xml": {
          "name": "RecognitionMode"
        }
      },
      "RecognizeBase64Request": {
        "required": [
          "barcodeTypes",
          "fileBase64"
        ],
        "type": "object",
        "properties": {
          "barcodeTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DecodeBarcodeType"
            },
            "description": "Array of barcode decode types to find.",
            "xml": {
              "name": "BarcodeTypes",
              "wrapped": true
            }
          },
          "fileBase64": {
            "maxLength": 28730982,
            "minLength": 1,
            "type": "string",
            "description": "Barcode image bytes encoded as base-64.",
            "xml": {
              "name": "FileBase64"
            }
          },
          "recognitionMode": {
            "$ref": "#/components/schemas/RecognitionMode"
          },
          "recognitionImageKind": {
            "$ref": "#/components/schemas/RecognitionImageKind"
          }
        },
        "additionalProperties": false,
        "description": "Barcode recognition request.",
        "xml": {
          "name": "RecognizeBase64Request"
        }
      },
      "RectMicroQRVersion": {
        "enum": [
          "Auto",
          "R7x43",
          "R7x59",
          "R7x77",
          "R7x99",
          "R7x139",
          "R9x43",
          "R9x59",
          "R9x77",
          "R9x99",
          "R9x139",
          "R11x27",
          "R11x43",
          "R11x59",
          "R11x77",
          "R11x99",
          "R11x139",
          "R13x27",
          "R13x43",
          "R13x59",
          "R13x77",
          "R13x99",
          "R13x139",
          "R15x43",
          "R15x59",
          "R15x77",
          "R15x99",
          "R15x139",
          "R17x43",
          "R17x59",
          "R17x77",
          "R17x99",
          "R17x139"
        ],
        "type": "string",
        "description": "RectMicroQR barcode version. Mirrors https://reference.aspose.com/barcode/net/aspose.barcode.generation/rectmicroqrversion/",
        "xml": {
          "name": "RectMicroQRVersion"
        }
      },
      "RegionPoint": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "X-coordinate",
            "format": "int32",
            "xml": {
              "name": "X"
            }
          },
          "y": {
            "type": "integer",
            "description": "Y-coordinate",
            "format": "int32",
            "xml": {
              "name": "Y"
            }
          }
        },
        "additionalProperties": false,
        "description": "Wrapper around Drawing.Point for proper specification.",
        "xml": {
          "name": "Point"
        }
      },
      "ScanBase64Request": {
        "required": [
          "fileBase64"
        ],
        "type": "object",
        "properties": {
          "fileBase64": {
            "minLength": 1,
            "type": "string",
            "description": "Barcode image bytes encoded as base-64.",
            "xml": {
              "name": "FileBase64"
            }
          }
        },
        "additionalProperties": false,
        "description": "Scan barcode request.",
        "xml": {
          "name": "ScanBase64Request"
        }
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "oauth2",
        "description": "JWT Authorization header using the Bearer scheme.\n\nGo to https://dashboard.aspose.cloud/#/applications and choose application.\n\nUse client_id and client_secret from selected application to authorize and get AccessToken.\n\nAdd AccessToken to Authorization header in form 'Bearer [space] and then your token'.\n\nExample: 'Authorization: Bearer 12345abcdef'.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://id.aspose.cloud/connect/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "JWT": []
    }
  ]
}
