{
  "openapi": "3.0.1",
  "info": {
    "title": "Aspose.Barcode Cloud API Reference",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.aspose.cloud/v3.0"
    }
  ],
  "paths": {
    "/barcode/generate": {
      "get": {
        "tags": [
          "Barcode"
        ],
        "summary": "Generate barcode.",
        "operationId": "GetBarcodeGenerate",
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "Type of barcode to generate.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Codabar",
                "Code11",
                "Code39Standard",
                "Code39Extended",
                "Code93Standard",
                "Code93Extended",
                "Code128",
                "GS1Code128",
                "EAN8",
                "EAN13",
                "EAN14",
                "SCC14",
                "SSCC18",
                "UPCA",
                "UPCE",
                "ISBN",
                "ISSN",
                "ISMN",
                "Standard2of5",
                "Interleaved2of5",
                "Matrix2of5",
                "ItalianPost25",
                "IATA2of5",
                "ITF14",
                "ITF6",
                "MSI",
                "VIN",
                "DeutschePostIdentcode",
                "DeutschePostLeitcode",
                "OPC",
                "PZN",
                "Code16K",
                "Pharmacode",
                "DataMatrix",
                "QR",
                "Aztec",
                "Pdf417",
                "MacroPdf417",
                "AustraliaPost",
                "Postnet",
                "Planet",
                "OneCode",
                "RM4SCC",
                "DatabarOmniDirectional",
                "DatabarTruncated",
                "DatabarLimited",
                "DatabarExpanded",
                "SingaporePost",
                "GS1DataMatrix",
                "AustralianPosteParcel",
                "SwissPostParcel",
                "PatchCode",
                "DatabarExpandedStacked",
                "DatabarStacked",
                "DatabarStackedOmniDirectional",
                "MicroPdf417",
                "GS1QR",
                "MaxiCode",
                "Code32",
                "DataLogic2of5",
                "DotCode",
                "DutchKIX",
                "UpcaGs1Code128Coupon",
                "UpcaGs1DatabarCoupon",
                "CodablockF",
                "GS1CodablockF",
                "Mailmark",
                "GS1DotCode",
                "HanXin",
                "GS1HanXin"
              ],
              "x-schema": {
                "$ref": "#/definitions/EncodeBarcodeType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/EncodeBarcodeType"
            }
          },
          {
            "name": "Text",
            "in": "query",
            "description": "Text to encode.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "TwoDDisplayText",
            "in": "query",
            "description": "Text that will be displayed instead of codetext in 2D barcodes.\nUsed for: Aztec, Pdf417, DataMatrix, QR, MaxiCode, DotCode",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "TextLocation",
            "in": "query",
            "description": "Specify the displaying Text Location, set to CodeLocation.None to hide CodeText.\nDefault value: CodeLocation.Below.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Below",
                "Above",
                "None"
              ],
              "x-schema": {
                "$ref": "#/definitions/CodeLocation"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/CodeLocation"
            }
          },
          {
            "name": "TextAlignment",
            "in": "query",
            "description": "Text alignment.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Left",
                "Center",
                "Right"
              ],
              "x-schema": {
                "$ref": "#/definitions/TextAlignment"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/TextAlignment"
            }
          },
          {
            "name": "TextColor",
            "in": "query",
            "description": "Specify the displaying CodeText's Color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "FontSizeMode",
            "in": "query",
            "description": "Specify FontSizeMode. If FontSizeMode is set to Auto, font size will be calculated automatically based on xDimension value.\nIt is recommended to use FontSizeMode.Auto especially in AutoSizeMode.Nearest or AutoSizeMode.Interpolation.\nDefault value: FontSizeMode.Auto.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Auto",
                "Manual"
              ],
              "x-schema": {
                "$ref": "#/definitions/FontMode"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/FontMode"
            }
          },
          {
            "name": "NoWrap",
            "in": "query",
            "description": "Specify word wraps (line breaks) within text.\nDefault value: false.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Resolution",
            "in": "query",
            "description": "Resolution of the BarCode image.\nOne value for both dimensions.\nDefault value: 96 dpi.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ResolutionX",
            "in": "query",
            "description": "DEPRECATED: Use 'Resolution' instead.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ResolutionY",
            "in": "query",
            "description": "DEPRECATED: Use 'Resolution' instead.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "DimensionX",
            "in": "query",
            "description": "The smallest width of the unit of BarCode bars or spaces.\nIncrease this will increase the whole barcode image width.\nIgnored if AutoSizeMode property is set to AutoSizeMode.Nearest or AutoSizeMode.Interpolation.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "TextSpace",
            "in": "query",
            "description": "Space between the CodeText and the BarCode in Unit value.\nDefault value: 2pt.\nIgnored for EAN8, EAN13, UPCE, UPCA, ISBN, ISMN, ISSN, UpcaGs1DatabarCoupon.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "Units",
            "in": "query",
            "description": "Common Units for all measuring in query. Default units: pixel.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Pixel",
                "Point",
                "Inch",
                "Millimeter"
              ],
              "x-schema": {
                "$ref": "#/definitions/AvailableGraphicsUnit"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/AvailableGraphicsUnit"
            }
          },
          {
            "name": "SizeMode",
            "in": "query",
            "description": "Specifies the different types of automatic sizing modes.\nDefault value: AutoSizeMode.None.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "None",
                "Nearest",
                "Interpolation"
              ],
              "x-schema": {
                "$ref": "#/definitions/AutoSizeMode"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/AutoSizeMode"
            }
          },
          {
            "name": "BarHeight",
            "in": "query",
            "description": "Height of the barcode in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ImageHeight",
            "in": "query",
            "description": "Height of the barcode image in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ImageWidth",
            "in": "query",
            "description": "Width of the barcode image in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "RotationAngle",
            "in": "query",
            "description": "BarCode image rotation angle, measured in degree, e.g. RotationAngle = 0 or RotationAngle = 360 means no rotation.\nIf RotationAngle NOT equal to 90, 180, 270 or 0, it may increase the difficulty for the scanner to read the image.\nDefault value: 0.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BackColor",
            "in": "query",
            "description": "Background color of the barcode image.\nDefault value: Color.White.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BarColor",
            "in": "query",
            "description": "Bars color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BorderColor",
            "in": "query",
            "description": "Border color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BorderWidth",
            "in": "query",
            "description": "Border width.\nDefault value: 0.\nIgnored if Visible is set to false.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BorderDashStyle",
            "in": "query",
            "description": "Border dash style.\nDefault value: BorderDashStyle.Solid.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Solid",
                "Dash",
                "Dot",
                "DashDot",
                "DashDotDot"
              ],
              "x-schema": {
                "$ref": "#/definitions/BorderDashStyle"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/BorderDashStyle"
            }
          },
          {
            "name": "BorderVisible",
            "in": "query",
            "description": "Border visibility. If false than parameter Width is always ignored (0).\nDefault value: false.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "EnableChecksum",
            "in": "query",
            "description": "Enable checksum during generation 1D barcodes.\nDefault is treated as Yes for symbology which must contain checksum, as No where checksum only possible.\nChecksum is possible: Code39 Standard/Extended, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, DeutschePostIdentcode, DeutschePostLeitcode, VIN, Codabar\nChecksum always used: Rest symbology",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Default",
                "Yes",
                "No"
              ],
              "x-schema": {
                "$ref": "#/definitions/EnableChecksum"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/EnableChecksum"
            }
          },
          {
            "name": "EnableEscape",
            "in": "query",
            "description": "Indicates whether explains the character \"\\\" as an escape character in CodeText property. Used for Pdf417, DataMatrix, Code128 only\nIf the EnableEscape is true, \"\\\" will be explained as a special escape character. Otherwise, \"\\\" acts as normal characters.\nAspose.BarCode supports input decimal ascii code and mnemonic for ASCII control-code characters. For example, \\013 and \\\\CR stands for CR.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "FilledBars",
            "in": "query",
            "description": "Value indicating whether bars are filled.\nOnly for 1D barcodes.\nDefault value: true.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AlwaysShowChecksum",
            "in": "query",
            "description": "Always display checksum digit in the human readable text for Code128 and GS1Code128 barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "WideNarrowRatio",
            "in": "query",
            "description": "Wide bars to Narrow bars ratio.\nDefault value: 3, that is, wide bars are 3 times as wide as narrow bars.\nUsed for ITF, PZN, PharmaCode, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, IATA2of5, VIN, DeutschePost, OPC, Code32, DataLogic2of5, PatchCode, Code39Extended, Code39Standard",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ValidateText",
            "in": "query",
            "description": "Only for 1D barcodes.\nIf codetext is incorrect and value set to true - exception will be thrown. Otherwise codetext will be corrected to match barcode's specification.\nException always will be thrown for: Databar symbology if codetext is incorrect.\nException always will not be thrown for: AustraliaPost, SingaporePost, Code39Extended, Code93Extended, Code16K, Code128 symbology if codetext is incorrect.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "SupplementData",
            "in": "query",
            "description": "Supplement parameters.\nUsed for Interleaved2of5, Standard2of5, EAN13, EAN8, UPCA, UPCE, ISBN, ISSN, ISMN.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "SupplementSpace",
            "in": "query",
            "description": "Space between main the BarCode and supplement BarCode.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BarWidthReduction",
            "in": "query",
            "description": "Bars reduction value that is used to compensate ink spread while printing.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "UseAntiAlias",
            "in": "query",
            "description": "Indicates whether is used anti-aliasing mode to render image. Anti-aliasing mode is applied to barcode and text drawing.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Result image format.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated barcode image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "image/bmp": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "image/gif": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              },
              "image/tiff": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": true
      }
    },
    "/barcode/{name}/generate": {
      "put": {
        "tags": [
          "Barcode"
        ],
        "summary": "Generate barcode and save on server (from query params or from file with json or xml content)",
        "operationId": "PutBarcodeGenerateFile",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The image file name.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Type of barcode to generate.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Codabar",
                "Code11",
                "Code39Standard",
                "Code39Extended",
                "Code93Standard",
                "Code93Extended",
                "Code128",
                "GS1Code128",
                "EAN8",
                "EAN13",
                "EAN14",
                "SCC14",
                "SSCC18",
                "UPCA",
                "UPCE",
                "ISBN",
                "ISSN",
                "ISMN",
                "Standard2of5",
                "Interleaved2of5",
                "Matrix2of5",
                "ItalianPost25",
                "IATA2of5",
                "ITF14",
                "ITF6",
                "MSI",
                "VIN",
                "DeutschePostIdentcode",
                "DeutschePostLeitcode",
                "OPC",
                "PZN",
                "Code16K",
                "Pharmacode",
                "DataMatrix",
                "QR",
                "Aztec",
                "Pdf417",
                "MacroPdf417",
                "AustraliaPost",
                "Postnet",
                "Planet",
                "OneCode",
                "RM4SCC",
                "DatabarOmniDirectional",
                "DatabarTruncated",
                "DatabarLimited",
                "DatabarExpanded",
                "SingaporePost",
                "GS1DataMatrix",
                "AustralianPosteParcel",
                "SwissPostParcel",
                "PatchCode",
                "DatabarExpandedStacked",
                "DatabarStacked",
                "DatabarStackedOmniDirectional",
                "MicroPdf417",
                "GS1QR",
                "MaxiCode",
                "Code32",
                "DataLogic2of5",
                "DotCode",
                "DutchKIX",
                "UpcaGs1Code128Coupon",
                "UpcaGs1DatabarCoupon",
                "CodablockF",
                "GS1CodablockF",
                "Mailmark",
                "GS1DotCode",
                "HanXin",
                "GS1HanXin"
              ],
              "x-schema": {
                "$ref": "#/definitions/EncodeBarcodeType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/EncodeBarcodeType"
            }
          },
          {
            "name": "Text",
            "in": "query",
            "description": "Text to encode.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "TwoDDisplayText",
            "in": "query",
            "description": "Text that will be displayed instead of codetext in 2D barcodes.\nUsed for: Aztec, Pdf417, DataMatrix, QR, MaxiCode, DotCode",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "TextLocation",
            "in": "query",
            "description": "Specify the displaying Text Location, set to CodeLocation.None to hide CodeText.\nDefault value: CodeLocation.Below.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Below",
                "Above",
                "None"
              ],
              "x-schema": {
                "$ref": "#/definitions/CodeLocation"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/CodeLocation"
            }
          },
          {
            "name": "TextAlignment",
            "in": "query",
            "description": "Text alignment.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Left",
                "Center",
                "Right"
              ],
              "x-schema": {
                "$ref": "#/definitions/TextAlignment"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/TextAlignment"
            }
          },
          {
            "name": "TextColor",
            "in": "query",
            "description": "Specify the displaying CodeText's Color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "FontSizeMode",
            "in": "query",
            "description": "Specify FontSizeMode. If FontSizeMode is set to Auto, font size will be calculated automatically based on xDimension value.\nIt is recommended to use FontSizeMode.Auto especially in AutoSizeMode.Nearest or AutoSizeMode.Interpolation.\nDefault value: FontSizeMode.Auto.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Auto",
                "Manual"
              ],
              "x-schema": {
                "$ref": "#/definitions/FontMode"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/FontMode"
            }
          },
          {
            "name": "NoWrap",
            "in": "query",
            "description": "Specify word wraps (line breaks) within text.\nDefault value: false.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Resolution",
            "in": "query",
            "description": "Resolution of the BarCode image.\nOne value for both dimensions.\nDefault value: 96 dpi.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ResolutionX",
            "in": "query",
            "description": "DEPRECATED: Use 'Resolution' instead.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ResolutionY",
            "in": "query",
            "description": "DEPRECATED: Use 'Resolution' instead.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "DimensionX",
            "in": "query",
            "description": "The smallest width of the unit of BarCode bars or spaces.\nIncrease this will increase the whole barcode image width.\nIgnored if AutoSizeMode property is set to AutoSizeMode.Nearest or AutoSizeMode.Interpolation.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "TextSpace",
            "in": "query",
            "description": "Space between the CodeText and the BarCode in Unit value.\nDefault value: 2pt.\nIgnored for EAN8, EAN13, UPCE, UPCA, ISBN, ISMN, ISSN, UpcaGs1DatabarCoupon.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "Units",
            "in": "query",
            "description": "Common Units for all measuring in query. Default units: pixel.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Pixel",
                "Point",
                "Inch",
                "Millimeter"
              ],
              "x-schema": {
                "$ref": "#/definitions/AvailableGraphicsUnit"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/AvailableGraphicsUnit"
            }
          },
          {
            "name": "SizeMode",
            "in": "query",
            "description": "Specifies the different types of automatic sizing modes.\nDefault value: AutoSizeMode.None.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "None",
                "Nearest",
                "Interpolation"
              ],
              "x-schema": {
                "$ref": "#/definitions/AutoSizeMode"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/AutoSizeMode"
            }
          },
          {
            "name": "BarHeight",
            "in": "query",
            "description": "Height of the barcode in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ImageHeight",
            "in": "query",
            "description": "Height of the barcode image in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ImageWidth",
            "in": "query",
            "description": "Width of the barcode image in given units. Default units: pixel.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "RotationAngle",
            "in": "query",
            "description": "BarCode image rotation angle, measured in degree, e.g. RotationAngle = 0 or RotationAngle = 360 means no rotation.\nIf RotationAngle NOT equal to 90, 180, 270 or 0, it may increase the difficulty for the scanner to read the image.\nDefault value: 0.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BackColor",
            "in": "query",
            "description": "Background color of the barcode image.\nDefault value: Color.White.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BarColor",
            "in": "query",
            "description": "Bars color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BorderColor",
            "in": "query",
            "description": "Border color.\nDefault value: Color.Black.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "BorderWidth",
            "in": "query",
            "description": "Border width.\nDefault value: 0.\nIgnored if Visible is set to false.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BorderDashStyle",
            "in": "query",
            "description": "Border dash style.\nDefault value: BorderDashStyle.Solid.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Solid",
                "Dash",
                "Dot",
                "DashDot",
                "DashDotDot"
              ],
              "x-schema": {
                "$ref": "#/definitions/BorderDashStyle"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/BorderDashStyle"
            }
          },
          {
            "name": "BorderVisible",
            "in": "query",
            "description": "Border visibility. If false than parameter Width is always ignored (0).\nDefault value: false.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "EnableChecksum",
            "in": "query",
            "description": "Enable checksum during generation 1D barcodes.\nDefault is treated as Yes for symbology which must contain checksum, as No where checksum only possible.\nChecksum is possible: Code39 Standard/Extended, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, DeutschePostIdentcode, DeutschePostLeitcode, VIN, Codabar\nChecksum always used: Rest symbology",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Default",
                "Yes",
                "No"
              ],
              "x-schema": {
                "$ref": "#/definitions/EnableChecksum"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/EnableChecksum"
            }
          },
          {
            "name": "EnableEscape",
            "in": "query",
            "description": "Indicates whether explains the character \"\\\" as an escape character in CodeText property. Used for Pdf417, DataMatrix, Code128 only\nIf the EnableEscape is true, \"\\\" will be explained as a special escape character. Otherwise, \"\\\" acts as normal characters.\nAspose.BarCode supports input decimal ascii code and mnemonic for ASCII control-code characters. For example, \\013 and \\\\CR stands for CR.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "FilledBars",
            "in": "query",
            "description": "Value indicating whether bars are filled.\nOnly for 1D barcodes.\nDefault value: true.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AlwaysShowChecksum",
            "in": "query",
            "description": "Always display checksum digit in the human readable text for Code128 and GS1Code128 barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "WideNarrowRatio",
            "in": "query",
            "description": "Wide bars to Narrow bars ratio.\nDefault value: 3, that is, wide bars are 3 times as wide as narrow bars.\nUsed for ITF, PZN, PharmaCode, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, IATA2of5, VIN, DeutschePost, OPC, Code32, DataLogic2of5, PatchCode, Code39Extended, Code39Standard",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ValidateText",
            "in": "query",
            "description": "Only for 1D barcodes.\nIf codetext is incorrect and value set to true - exception will be thrown. Otherwise codetext will be corrected to match barcode's specification.\nException always will be thrown for: Databar symbology if codetext is incorrect.\nException always will not be thrown for: AustraliaPost, SingaporePost, Code39Extended, Code93Extended, Code16K, Code128 symbology if codetext is incorrect.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "SupplementData",
            "in": "query",
            "description": "Supplement parameters.\nUsed for Interleaved2of5, Standard2of5, EAN13, EAN8, UPCA, UPCE, ISBN, ISSN, ISMN.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "SupplementSpace",
            "in": "query",
            "description": "Space between main the BarCode and supplement BarCode.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "BarWidthReduction",
            "in": "query",
            "description": "Bars reduction value that is used to compensate ink spread while printing.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "UseAntiAlias",
            "in": "query",
            "description": "Indicates whether is used anti-aliasing mode to render image. Anti-aliasing mode is applied to barcode and text drawing.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "Image's storage.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Image's folder.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The image format.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IActionResult with the operation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultImageInfo"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/generateMultiple": {
      "post": {
        "tags": [
          "Barcode"
        ],
        "summary": "Generate multiple barcodes and return in response stream",
        "operationId": "PostGenerateMultiple",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Format to return stream in",
            "schema": {
              "type": "string",
              "nullable": true,
              "default": "png"
            }
          }
        ],
        "requestBody": {
          "description": "List of barcodes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratorParamsList"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GeneratorParamsList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with streamed images",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": true,
        "x-codegen-request-body-name": "generatorParamsList"
      }
    },
    "/barcode/{name}/generateMultiple": {
      "put": {
        "tags": [
          "Barcode"
        ],
        "summary": "Generate image with multiple barcodes and put new file on server",
        "operationId": "PutGenerateMultiple",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "New filename",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format of file",
            "schema": {
              "type": "string",
              "nullable": true,
              "default": "png"
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Folder to place file to",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "The storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "List of barcodes",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratorParamsList"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GeneratorParamsList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response with result of operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultImageInfo"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-codegen-request-body-name": "generatorParamsList"
      }
    },
    "/barcode/{name}/recognize": {
      "get": {
        "tags": [
          "Barcode"
        ],
        "summary": "Recognize barcode from a file on server.",
        "operationId": "GetBarcodeRecognize",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The image file name.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "The type of barcode to read.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "all",
                "AustraliaPost",
                "Aztec",
                "ISBN",
                "Codabar",
                "Code11",
                "Code128",
                "GS1Code128",
                "Code39Extended",
                "Code39Standard",
                "Code93Extended",
                "Code93Standard",
                "DataMatrix",
                "DeutschePostIdentcode",
                "DeutschePostLeitcode",
                "EAN13",
                "EAN14",
                "EAN8",
                "IATA2of5",
                "Interleaved2of5",
                "ISSN",
                "ISMN",
                "ItalianPost25",
                "ITF14",
                "ITF6",
                "MacroPdf417",
                "Matrix2of5",
                "MSI",
                "OneCode",
                "OPC",
                "PatchCode",
                "Pdf417",
                "MicroPdf417",
                "Planet",
                "Postnet",
                "PZN",
                "QR",
                "MicroQR",
                "RM4SCC",
                "SCC14",
                "SSCC18",
                "Standard2of5",
                "Supplement",
                "UPCA",
                "UPCE",
                "VIN",
                "Pharmacode",
                "GS1DataMatrix",
                "DatabarOmniDirectional",
                "DatabarTruncated",
                "DatabarLimited",
                "DatabarExpanded",
                "SwissPostParcel",
                "AustralianPosteParcel",
                "Code16K",
                "DatabarStackedOmniDirectional",
                "DatabarStacked",
                "DatabarExpandedStacked",
                "CompactPdf417",
                "GS1QR",
                "MaxiCode",
                "MicrE13B",
                "Code32",
                "DataLogic2of5",
                "DotCode",
                "DutchKIX",
                "CodablockF",
                "Mailmark",
                "GS1DotCode",
                "HIBCCode39LIC",
                "HIBCCode128LIC",
                "HIBCAztecLIC",
                "HIBCDataMatrixLIC",
                "HIBCQRLIC",
                "HIBCCode39PAS",
                "HIBCCode128PAS",
                "HIBCAztecPAS",
                "HIBCDataMatrixPAS",
                "HIBCQRPAS",
                "HanXin",
                "GS1HanXin"
              ],
              "x-schema": {
                "$ref": "#/definitions/DecodeBarcodeType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/DecodeBarcodeType"
            }
          },
          {
            "name": "ChecksumValidation",
            "in": "query",
            "description": "Enable checksum validation during recognition for 1D barcodes.\nDefault is treated as Yes for symbologies which must contain checksum, as No where checksum only possible.\nChecksum never used: Codabar\nChecksum is possible: Code39 Standard/Extended, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, DeutschePostIdentcode, DeutschePostLeitcode, VIN\nChecksum always used: Rest symbologies",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Default",
                "On",
                "Off"
              ],
              "x-schema": {
                "$ref": "#/definitions/ChecksumValidation"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/ChecksumValidation"
            }
          },
          {
            "name": "DetectEncoding",
            "in": "query",
            "description": "A flag which force engine to detect codetext encoding for Unicode.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Preset",
            "in": "query",
            "description": "Preset allows to configure recognition quality and speed manually.\nYou can quickly set up Preset by embedded presets: HighPerformance, NormalQuality,\nHighQuality, MaxBarCodes or you can manually configure separate options.\nDefault value of Preset is NormalQuality.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "HighPerformance",
                "NormalQuality",
                "HighQualityDetection",
                "MaxQualityDetection",
                "HighQuality",
                "MaxBarCodes"
              ],
              "x-schema": {
                "$ref": "#/definitions/PresetType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/PresetType"
            }
          },
          {
            "name": "RectX",
            "in": "query",
            "description": "Set X of top left corner of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectY",
            "in": "query",
            "description": "Set Y of top left corner of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectWidth",
            "in": "query",
            "description": "Set Width of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectHeight",
            "in": "query",
            "description": "Set Height of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "StripFNC",
            "in": "query",
            "description": "Value indicating whether FNC symbol strip must be done.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Timeout",
            "in": "query",
            "description": "Timeout of recognition process in milliseconds.\nDefault value is 15_000 (15 seconds).\nMaximum value is 60_000 (1 minute).\nIn case of a timeout RequestTimeout (408) status will be returned.\nTry reducing the image size to avoid timeout.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "MedianSmoothingWindowSize",
            "in": "query",
            "description": "Window size for median smoothing. Typical values are 3 or 4. Default value is 3. AllowMedianSmoothing must be set.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "AllowMedianSmoothing",
            "in": "query",
            "description": "Allows engine to enable median smoothing as additional scan. Mode helps to recognize noised barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowComplexBackground",
            "in": "query",
            "description": "Allows engine to recognize color barcodes on color background as additional scan. Extremely slow mode.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDatamatrixIndustrialBarcodes",
            "in": "query",
            "description": "Allows engine for Datamatrix to recognize dashed industrial Datamatrix barcodes.\nSlow mode which helps only for dashed barcodes which consist from spots.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDecreasedImage",
            "in": "query",
            "description": "Allows engine to recognize decreased image as additional scan. Size for decreasing is selected by internal engine algorithms.\nMode helps to recognize barcodes which are noised and blurred but captured with high resolution.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDetectScanGap",
            "in": "query",
            "description": "Allows engine to use gap between scans to increase recognition speed. Mode can make recognition problems with low height barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowIncorrectBarcodes",
            "in": "query",
            "description": "Allows engine to recognize barcodes which has incorrect checksum or incorrect values.\nMode can be used to recognize damaged barcodes with incorrect text.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowInvertImage",
            "in": "query",
            "description": "Allows engine to recognize inverse color image as additional scan. Mode can be used when barcode is white on black background.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowMicroWhiteSpotsRemoving",
            "in": "query",
            "description": "Allows engine for Postal barcodes to recognize slightly noised images. Mode helps to recognize slightly damaged Postal barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowOneDFastBarcodesDetector",
            "in": "query",
            "description": "Allows engine for 1D barcodes to quickly recognize high quality barcodes which fill almost whole image.\nMode helps to quickly recognize generated barcodes from Internet.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowOneDWipedBarsRestoration",
            "in": "query",
            "description": "Allows engine for 1D barcodes to recognize barcodes with single wiped/glued bars in pattern.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowQRMicroQrRestoration",
            "in": "query",
            "description": "Allows engine for QR/MicroQR to recognize damaged MicroQR barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowRegularImage",
            "in": "query",
            "description": "Allows engine to recognize regular image without any restorations as main scan. Mode to recognize image as is.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowSaltAndPepperFiltering",
            "in": "query",
            "description": "Allows engine to recognize barcodes with salt and pepper noise type. Mode can remove small noise with white and black dots.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowWhiteSpotsRemoving",
            "in": "query",
            "description": "Allows engine to recognize image without small white spots as additional scan. Mode helps to recognize noised image as well as median smoothing filtering.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "CheckMore1DVariants",
            "in": "query",
            "description": "Allows engine to recognize 1D barcodes with checksum by checking more recognition variants. Default value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "FastScanOnly",
            "in": "query",
            "description": "Allows engine for 1D barcodes to quickly recognize middle slice of an image and return result without using any time-consuming algorithms.\nDefault value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "RegionLikelihoodThresholdPercent",
            "in": "query",
            "description": "Sets threshold for detected regions that may contain barcodes.\nValue 0.7 means that bottom 70% of possible regions are filtered out and not processed further.\nRegion likelihood threshold must be between [0.05, 0.9]\nUse high values for clear images with few barcodes.\nUse low values for images with many barcodes or for noisy images.\nLow value may lead to a bigger recognition time.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ScanWindowSizes",
            "in": "query",
            "description": "Scan window sizes in pixels.\nAllowed sizes are 10, 15, 20, 25, 30.\nScanning with small window size takes more time and provides more accuracy but may fail in detecting very big barcodes.\nCombining of several window sizes can improve detection quality.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Similarity",
            "in": "query",
            "description": "Similarity coefficient depends on how homogeneous barcodes are.\nUse high value for for clear barcodes.\nUse low values to detect barcodes that ara partly damaged or not lighten evenly.\nSimilarity coefficient must be between [0.5, 0.9]",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "SkipDiagonalSearch",
            "in": "query",
            "description": "Allows detector to skip search for diagonal barcodes.\nSetting it to false will increase detection time but allow to find diagonal barcodes that can be missed otherwise.\nEnabling of diagonal search leads to a bigger detection time.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "ReadTinyBarcodes",
            "in": "query",
            "description": "Allows engine to recognize tiny barcodes on large images. Ignored if AllowIncorrectBarcodes is set to True. Default value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AustralianPostEncodingTable",
            "in": "query",
            "description": "Interpreting Type for the Customer Information of AustralianPost BarCode.Default is CustomerInformationInterpretingType.Other.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "CTable",
                "NTable",
                "Other"
              ],
              "x-schema": {
                "$ref": "#/definitions/CustomerInformationInterpretingType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/CustomerInformationInterpretingType"
            }
          },
          {
            "name": "IgnoreEndingFillingPatternsForCTable",
            "in": "query",
            "description": "The flag which force AustraliaPost decoder to ignore last filling patterns in Customer Information Field during decoding as CTable method.\nCTable encoding method does not have any gaps in encoding table and sequence \"333\" of filling patterns is decoded as letter \"z\".",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "The image storage.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "The image folder.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BarcodeResponseList with barcodes info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Barcode"
        ],
        "summary": "Recognition of a barcode from file on server with parameters in body.",
        "operationId": "PutBarcodeRecognizeFromBody",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The image file name.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "all",
                "AustraliaPost",
                "Aztec",
                "ISBN",
                "Codabar",
                "Code11",
                "Code128",
                "GS1Code128",
                "Code39Extended",
                "Code39Standard",
                "Code93Extended",
                "Code93Standard",
                "DataMatrix",
                "DeutschePostIdentcode",
                "DeutschePostLeitcode",
                "EAN13",
                "EAN14",
                "EAN8",
                "IATA2of5",
                "Interleaved2of5",
                "ISSN",
                "ISMN",
                "ItalianPost25",
                "ITF14",
                "ITF6",
                "MacroPdf417",
                "Matrix2of5",
                "MSI",
                "OneCode",
                "OPC",
                "PatchCode",
                "Pdf417",
                "MicroPdf417",
                "Planet",
                "Postnet",
                "PZN",
                "QR",
                "MicroQR",
                "RM4SCC",
                "SCC14",
                "SSCC18",
                "Standard2of5",
                "Supplement",
                "UPCA",
                "UPCE",
                "VIN",
                "Pharmacode",
                "GS1DataMatrix",
                "DatabarOmniDirectional",
                "DatabarTruncated",
                "DatabarLimited",
                "DatabarExpanded",
                "SwissPostParcel",
                "AustralianPosteParcel",
                "Code16K",
                "DatabarStackedOmniDirectional",
                "DatabarStacked",
                "DatabarExpandedStacked",
                "CompactPdf417",
                "GS1QR",
                "MaxiCode",
                "MicrE13B",
                "Code32",
                "DataLogic2of5",
                "DotCode",
                "DutchKIX",
                "CodablockF",
                "Mailmark",
                "GS1DotCode",
                "HIBCCode39LIC",
                "HIBCCode128LIC",
                "HIBCAztecLIC",
                "HIBCDataMatrixLIC",
                "HIBCQRLIC",
                "HIBCCode39PAS",
                "HIBCCode128PAS",
                "HIBCAztecPAS",
                "HIBCDataMatrixPAS",
                "HIBCQRPAS",
                "HanXin",
                "GS1HanXin"
              ],
              "x-schema": {
                "$ref": "#/definitions/DecodeBarcodeType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/DecodeBarcodeType"
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "The storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "folder",
            "in": "query",
            "description": "The image folder.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "description": "BarcodeReader object with parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReaderParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "BarcodeResponseList with barcodes info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-codegen-request-body-name": "readerParams"
      }
    },
    "/barcode/recognize": {
      "post": {
        "tags": [
          "Barcode"
        ],
        "summary": "Recognize barcode from an url or from request body.\nRequest body can contain raw data bytes of the image with content-type \"application/octet-stream\".\nAn image can also be passed as a form field.",
        "operationId": "PostBarcodeRecognizeFromUrlOrContent",
        "parameters": [
          {
            "name": "Type",
            "in": "query",
            "description": "The type of barcode to read.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "all",
                "AustraliaPost",
                "Aztec",
                "ISBN",
                "Codabar",
                "Code11",
                "Code128",
                "GS1Code128",
                "Code39Extended",
                "Code39Standard",
                "Code93Extended",
                "Code93Standard",
                "DataMatrix",
                "DeutschePostIdentcode",
                "DeutschePostLeitcode",
                "EAN13",
                "EAN14",
                "EAN8",
                "IATA2of5",
                "Interleaved2of5",
                "ISSN",
                "ISMN",
                "ItalianPost25",
                "ITF14",
                "ITF6",
                "MacroPdf417",
                "Matrix2of5",
                "MSI",
                "OneCode",
                "OPC",
                "PatchCode",
                "Pdf417",
                "MicroPdf417",
                "Planet",
                "Postnet",
                "PZN",
                "QR",
                "MicroQR",
                "RM4SCC",
                "SCC14",
                "SSCC18",
                "Standard2of5",
                "Supplement",
                "UPCA",
                "UPCE",
                "VIN",
                "Pharmacode",
                "GS1DataMatrix",
                "DatabarOmniDirectional",
                "DatabarTruncated",
                "DatabarLimited",
                "DatabarExpanded",
                "SwissPostParcel",
                "AustralianPosteParcel",
                "Code16K",
                "DatabarStackedOmniDirectional",
                "DatabarStacked",
                "DatabarExpandedStacked",
                "CompactPdf417",
                "GS1QR",
                "MaxiCode",
                "MicrE13B",
                "Code32",
                "DataLogic2of5",
                "DotCode",
                "DutchKIX",
                "CodablockF",
                "Mailmark",
                "GS1DotCode",
                "HIBCCode39LIC",
                "HIBCCode128LIC",
                "HIBCAztecLIC",
                "HIBCDataMatrixLIC",
                "HIBCQRLIC",
                "HIBCCode39PAS",
                "HIBCCode128PAS",
                "HIBCAztecPAS",
                "HIBCDataMatrixPAS",
                "HIBCQRPAS",
                "HanXin",
                "GS1HanXin"
              ],
              "x-schema": {
                "$ref": "#/definitions/DecodeBarcodeType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/DecodeBarcodeType"
            }
          },
          {
            "name": "ChecksumValidation",
            "in": "query",
            "description": "Enable checksum validation during recognition for 1D barcodes.\nDefault is treated as Yes for symbologies which must contain checksum, as No where checksum only possible.\nChecksum never used: Codabar\nChecksum is possible: Code39 Standard/Extended, Standard2of5, Interleaved2of5, Matrix2of5, ItalianPost25, DeutschePostIdentcode, DeutschePostLeitcode, VIN\nChecksum always used: Rest symbologies",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "Default",
                "On",
                "Off"
              ],
              "x-schema": {
                "$ref": "#/definitions/ChecksumValidation"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/ChecksumValidation"
            }
          },
          {
            "name": "DetectEncoding",
            "in": "query",
            "description": "A flag which force engine to detect codetext encoding for Unicode.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Preset",
            "in": "query",
            "description": "Preset allows to configure recognition quality and speed manually.\nYou can quickly set up Preset by embedded presets: HighPerformance, NormalQuality,\nHighQuality, MaxBarCodes or you can manually configure separate options.\nDefault value of Preset is NormalQuality.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "HighPerformance",
                "NormalQuality",
                "HighQualityDetection",
                "MaxQualityDetection",
                "HighQuality",
                "MaxBarCodes"
              ],
              "x-schema": {
                "$ref": "#/definitions/PresetType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/PresetType"
            }
          },
          {
            "name": "RectX",
            "in": "query",
            "description": "Set X of top left corner of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectY",
            "in": "query",
            "description": "Set Y of top left corner of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectWidth",
            "in": "query",
            "description": "Set Width of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "RectHeight",
            "in": "query",
            "description": "Set Height of area for recognition.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "StripFNC",
            "in": "query",
            "description": "Value indicating whether FNC symbol strip must be done.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "Timeout",
            "in": "query",
            "description": "Timeout of recognition process in milliseconds.\nDefault value is 15_000 (15 seconds).\nMaximum value is 60_000 (1 minute).\nIn case of a timeout RequestTimeout (408) status will be returned.\nTry reducing the image size to avoid timeout.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "MedianSmoothingWindowSize",
            "in": "query",
            "description": "Window size for median smoothing. Typical values are 3 or 4. Default value is 3. AllowMedianSmoothing must be set.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "AllowMedianSmoothing",
            "in": "query",
            "description": "Allows engine to enable median smoothing as additional scan. Mode helps to recognize noised barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowComplexBackground",
            "in": "query",
            "description": "Allows engine to recognize color barcodes on color background as additional scan. Extremely slow mode.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDatamatrixIndustrialBarcodes",
            "in": "query",
            "description": "Allows engine for Datamatrix to recognize dashed industrial Datamatrix barcodes.\nSlow mode which helps only for dashed barcodes which consist from spots.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDecreasedImage",
            "in": "query",
            "description": "Allows engine to recognize decreased image as additional scan. Size for decreasing is selected by internal engine algorithms.\nMode helps to recognize barcodes which are noised and blurred but captured with high resolution.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowDetectScanGap",
            "in": "query",
            "description": "Allows engine to use gap between scans to increase recognition speed. Mode can make recognition problems with low height barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowIncorrectBarcodes",
            "in": "query",
            "description": "Allows engine to recognize barcodes which has incorrect checksum or incorrect values.\nMode can be used to recognize damaged barcodes with incorrect text.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowInvertImage",
            "in": "query",
            "description": "Allows engine to recognize inverse color image as additional scan. Mode can be used when barcode is white on black background.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowMicroWhiteSpotsRemoving",
            "in": "query",
            "description": "Allows engine for Postal barcodes to recognize slightly noised images. Mode helps to recognize slightly damaged Postal barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowOneDFastBarcodesDetector",
            "in": "query",
            "description": "Allows engine for 1D barcodes to quickly recognize high quality barcodes which fill almost whole image.\nMode helps to quickly recognize generated barcodes from Internet.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowOneDWipedBarsRestoration",
            "in": "query",
            "description": "Allows engine for 1D barcodes to recognize barcodes with single wiped/glued bars in pattern.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowQRMicroQrRestoration",
            "in": "query",
            "description": "Allows engine for QR/MicroQR to recognize damaged MicroQR barcodes.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowRegularImage",
            "in": "query",
            "description": "Allows engine to recognize regular image without any restorations as main scan. Mode to recognize image as is.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowSaltAndPepperFiltering",
            "in": "query",
            "description": "Allows engine to recognize barcodes with salt and pepper noise type. Mode can remove small noise with white and black dots.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AllowWhiteSpotsRemoving",
            "in": "query",
            "description": "Allows engine to recognize image without small white spots as additional scan. Mode helps to recognize noised image as well as median smoothing filtering.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "CheckMore1DVariants",
            "in": "query",
            "description": "Allows engine to recognize 1D barcodes with checksum by checking more recognition variants. Default value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "FastScanOnly",
            "in": "query",
            "description": "Allows engine for 1D barcodes to quickly recognize middle slice of an image and return result without using any time-consuming algorithms.\nDefault value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "RegionLikelihoodThresholdPercent",
            "in": "query",
            "description": "Sets threshold for detected regions that may contain barcodes.\nValue 0.7 means that bottom 70% of possible regions are filtered out and not processed further.\nRegion likelihood threshold must be between [0.05, 0.9]\nUse high values for clear images with few barcodes.\nUse low values for images with many barcodes or for noisy images.\nLow value may lead to a bigger recognition time.",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "ScanWindowSizes",
            "in": "query",
            "description": "Scan window sizes in pixels.\nAllowed sizes are 10, 15, 20, 25, 30.\nScanning with small window size takes more time and provides more accuracy but may fail in detecting very big barcodes.\nCombining of several window sizes can improve detection quality.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Similarity",
            "in": "query",
            "description": "Similarity coefficient depends on how homogeneous barcodes are.\nUse high value for for clear barcodes.\nUse low values to detect barcodes that ara partly damaged or not lighten evenly.\nSimilarity coefficient must be between [0.5, 0.9]",
            "schema": {
              "type": "number",
              "format": "double",
              "nullable": true
            }
          },
          {
            "name": "SkipDiagonalSearch",
            "in": "query",
            "description": "Allows detector to skip search for diagonal barcodes.\nSetting it to false will increase detection time but allow to find diagonal barcodes that can be missed otherwise.\nEnabling of diagonal search leads to a bigger detection time.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "ReadTinyBarcodes",
            "in": "query",
            "description": "Allows engine to recognize tiny barcodes on large images. Ignored if AllowIncorrectBarcodes is set to True. Default value: False.",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "AustralianPostEncodingTable",
            "in": "query",
            "description": "Interpreting Type for the Customer Information of AustralianPost BarCode.Default is CustomerInformationInterpretingType.Other.",
            "schema": {
              "type": "string",
              "nullable": true,
              "enum": [
                "CTable",
                "NTable",
                "Other"
              ],
              "x-schema": {
                "$ref": "#/definitions/CustomerInformationInterpretingType"
              }
            },
            "x-schema": {
              "$ref": "#/definitions/CustomerInformationInterpretingType"
            }
          },
          {
            "name": "IgnoreEndingFillingPatternsForCTable",
            "in": "query",
            "description": "The flag which force AustraliaPost decoder to ignore last filling patterns in Customer Information Field during decoding as CTable method.\nCTable encoding method does not have any gaps in encoding table and sequence \"333\" of filling patterns is decoded as letter \"z\".",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "The image file url.",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Image data",
                    "format": "binary"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Image data",
                    "format": "binary"
                  }
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "Image data",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BarcodeResponseList with barcode data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BarcodeResponseList"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/storage/file/{path}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Download file",
        "operationId": "DownloadFile",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "File path e.g. '/folder/file.ext'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "File version ID to download",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The raw data of the file.",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          },
          "404": {
            "description": "File for given path not found.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ],
        "x-binary-result": true
      },
      "put": {
        "tags": [
          "File"
        ],
        "summary": "Upload file",
        "operationId": "UploadFile",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "Path where to upload including filename and extension e.g. /file.ext or /Folder 1/file.ext\n If the content is multipart and path does not contains the file name it tries to get them from filename parameter\n from Content-Disposition header.",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "File to upload",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Empty error list if the upload is successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesUploadResult"
                }
              }
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "File"
        ],
        "summary": "Delete file",
        "operationId": "DeleteFile",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "File path e.g. '/folder/file.ext'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "File version ID to delete",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the delete is successful.",
            "content": {}
          },
          "401": {
            "description": "Authorization token is invalid or expired",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/storage/file/copy/{srcPath}": {
      "put": {
        "tags": [
          "File"
        ],
        "summary": "Copy file",
        "operationId": "CopyFile",
        "parameters": [
          {
            "name": "srcPath",
            "in": "path",
            "description": "Source file path e.g. '/folder/file.ext'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "destPath",
            "in": "query",
            "description": "Destination file path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "srcStorageName",
            "in": "query",
            "description": "Source storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "destStorageName",
            "in": "query",
            "description": "Destination storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "File version ID to copy",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the copy is successful.",
            "content": {}
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/storage/file/move/{srcPath}": {
      "put": {
        "tags": [
          "File"
        ],
        "summary": "Move file",
        "operationId": "MoveFile",
        "parameters": [
          {
            "name": "srcPath",
            "in": "path",
            "description": "Source file path e.g. '/src.ext'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "destPath",
            "in": "query",
            "description": "Destination file path e.g. '/dest.ext'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "srcStorageName",
            "in": "query",
            "description": "Source storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "destStorageName",
            "in": "query",
            "description": "Destination storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "File version ID to move",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the move is successful.",
            "content": {}
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          },
          "404": {
            "description": "File for given path not found.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/storage/folder/{path}": {
      "get": {
        "tags": [
          "Folder"
        ],
        "summary": "Get all files and folders within a folder",
        "operationId": "GetFilesList",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "Folder path e.g. '/folder'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all files and folders contained by the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FilesList"
                }
              }
            }
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          },
          "404": {
            "description": "Can't find folder for given path.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Folder"
        ],
        "summary": "Create the folder",
        "operationId": "CreateFolder",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "Folder path to create e.g. 'folder_1/folder_2/'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the create is successful.",
            "content": {}
          },
          "400": {
            "description": "Storage not found or it is not associated with the application.",
            "content": {}
          },
          "401": {
            "description": "Authorization token is invalid or expired.",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Folder"
        ],
        "summary": "Delete folder",
        "operationId": "DeleteFolder",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "description": "Folder path e.g. '/folder'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "storageName",
            "in": "query",
            "description": "Storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "Enable to delete folders, subfolders and files",
            "schema": {
              "type": "boolean",
              "nullable": false,
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the delete is successful.",
            "content": {}
          },
          "401": {
            "description": "Authorization token is invalid or expired",
            "content": {}
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/barcode/storage/folder/copy/{srcPath}": {
      "put": {
        "tags": [
          "Folder"
        ],
        "summary": "Copy folder",
        "operationId": "CopyFolder",
        "parameters": [
          {
            "name": "srcPath",
            "in": "path",
            "description": "Source folder path e.g. '/src'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": false
            }
          },
          {
            "name": "destPath",
            "in": "query",
            "description": "Destination folder path e.g. '/dst'",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "srcStorageName",
            "in": "query",
            "description": "Source storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "destStorageName",
            "in": "query",
            "description": "Destination storage name",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns 200 if the copy is successful.",
            "content": {}
          },
          "401": {
[...]
