{{! Used as Interfaces.cs }}
using System.Threading.Tasks;
using {{packageName}}.Model;
using {{packageName}}.Model.Requests;

namespace {{packageName}}.Interfaces
{   {{#operations}}
    /// <summary>
    ///     {{classname}} interface
    /// </summary>
    public interface I{{classname}}
    {
        {{#operation}}

        /// <summary>
        ///     {{summary}} {{notes}}
        /// </summary>
        /// <param name="request">Request. <see cref="{{nickname}}Request" /></param>
        /// <returns>
        ///     A task representing the asynchronous operation.{{#returnType}} The result is a <see cref="{{returnType}}" />.{{/returnType}}
        /// </returns>
        {{#returnType}}Task<{{{returnType}}}>{{/returnType}}{{^returnType}}Task{{/returnType}} {{nickname}}Async({{nickname}}Request request);
        {{/operation}}
    }
    {{/operations}}
}
