{{#models}}
{{#model}}

{{^isEnum}}
using System;
using System.Collections.Generic;
using Aspose.BarCode.Cloud.Sdk.Interfaces;
using Aspose.BarCode.Cloud.Sdk.Internal;
{{/isEnum}}
{{#isEnum}}
using System.Text.Json.Serialization;
{{/isEnum}}

namespace {{packageName}}.Model
{
    {{#isEnum}}

    /// <summary>
    ///     {{description}}
    /// </summary>
    [JsonConverter(typeof(JsonStringEnumConverter))]
    public enum {{classname}}{{#parent}} : {{{parent}}}{{/parent}}
    { {{#allowableValues}}{{#values}}
        /// <summary>
        ///     Enum value {{.}}
        /// </summary>
        {{.}}{{^-last}},{{/-last}}
      {{/values}}{{/allowableValues}}
    }
    {{/isEnum}}
    {{^isEnum}}

    /// <summary>
    ///     {{description}}
    /// </summary>
    public class {{classname}}{{#parent}} : {{{parent}}}{{/parent}} : IToString
    {
    {{#vars}}
      {{#isEnum}}
        /// <summary>
        ///     {{^description}}Gets or sets {{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
        /// </summary>
        {{#description}}
        {{/description}}
        public {{{datatypeWithEnum}}}{{#isEnum}}{{^isContainer}}?{{/isContainer}}{{/isEnum}} {{name}} { get; set; }

      {{/isEnum}}
    {{/vars}}
    {{#vars}}
      {{^isEnum}}
        /// <summary>
        ///     {{^description}}Gets or sets {{{name}}}{{/description}}{{#description}}{{{description}}}{{/description}}
        /// </summary>
        public {{{datatype}}} {{name}} { get; set; }

      {{/isEnum}}
    {{/vars}}
        /// <summary>
        ///     Get the string presentation of the object
        /// </summary>
        /// <returns>String presentation of the object</returns>
        public override string ToString()
        {
            return _srcString ?? SerializationHelper.Serialize(this);
        }

        private string _srcString;
        /// <summary>
        ///   Set the string presentation of the object
        /// </summary>
        public void SetSrcString(string value)
        {
            _srcString = value;
        }
    }
    {{/isEnum}}
  {{/model}}
{{/models}}
}
