{{#models}}{{#model}}# {{classname}}

{{#description}}
{{description}}

{{/description}}
{{#allowableValues}}
## Allowable values
{{#values}}
{{#-first}}* **{{{classname}}}{{.}}**{{/-first}}{{^-first}}* {{{classname}}}{{.}}{{/-first}}
{{/values}}
{{/allowableValues}}
{{#hasVars}}
## Properties

Name | Type | Description | Notes
---- | ---- | ----------- | -----
{{#vars}}**{{name}}** | {{#isPrimitiveType}}**{{{datatype}}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{^isDateTime}}[**{{^isContainer}}*{{/isContainer}}{{{datatype}}}**]({{^isContainer}}{{datatype}}{{/isContainer}}{{#isContainer}}{{complexType}}{{/isContainer}}.md){{/isDateTime}}{{#isDateTime}}**time.Time**{{/isDateTime}}{{/isPrimitiveType}} | {{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}
{{/hasVars}}

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md){{/model}}{{/models}}
