# Aspose.BarCode Cloud SDK for Go

| WARNING: **Update SDK to version >= 0.2109.0**: All SDK version < 0.2109.0 will stop working soon! |
| -------------------------------------------------------------------------------------------------- |

[![License](https://img.shields.io/github/license/aspose-barcode-cloud/aspose-barcode-cloud-go)](LICENSE)
[![Go](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/actions/workflows/go.yml/badge.svg)](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/actions/workflows/go.yml)
[![GitHub tag (latest SemVer)](https://img.shields.io/github/v/tag/aspose-barcode-cloud/aspose-barcode-cloud-go?label=module&sort=semver)](https://pkg.go.dev/github.com/aspose-barcode-cloud/aspose-barcode-cloud-go)

- API version: {{appVersion}}
- SDK version: {{packageVersion}}

## Demo applications

[Scan QR](https://products.aspose.app/barcode/scanqr) | [Generate Barcode](https://products.aspose.app/barcode/generate) | [Recognize Barcode](https://products.aspose.app/barcode/recognize) | [Embed Barcode](https://products.aspose.app/barcode/embed)
:---: | :---: | :---: | :---:
[![ScanQR](https://products.aspose.app/barcode/scanqr/img/aspose_scanqr-app-48.png)](https://products.aspose.app/barcode/scanqr) | [![Generate](https://products.aspose.app/barcode/generate/img/aspose_generate-app-48.png)](https://products.aspose.app/barcode/generate) | [![Recognize](https://products.aspose.app/barcode/recognize/img/aspose_recognize-app-48.png)](https://products.aspose.app/barcode/recognize) | [![Embed](https://products.aspose.app/barcode/embed/img/aspose_embed-app-48.png)](https://products.aspose.app/barcode/embed)

[Aspose.BarCode for Cloud](https://products.aspose.cloud/barcode/) is a REST API for Linear, 2D and postal barcode generation and recognition in the cloud. API recognizes and generates barcode images in a variety of formats. Barcode REST API allows to specify barcode image attributes like image width, height, border style and output image format in order to customize the generation process. Developers can also specify the barcode type and text attributes such as text location and font styles in order to suit the application requirements.

This repository contains Aspose.BarCode Cloud SDK for Go source code. This SDK allows you to work with Aspose.BarCode for Cloud REST APIs in your Go applications quickly and easily.

To use these SDKs, you will need Client Id and Client Secret which can be looked up at [Aspose Cloud Dashboard](https://dashboard.aspose.cloud/applications) (free registration in Aspose Cloud is required for this).

## Prerequisites

To use Aspose.BarCode Cloud SDK for Go you need to register an account with [Aspose Cloud](https://www.aspose.cloud) and lookup/create Client Secret and SID at [Cloud Dashboard](https://dashboard.aspose.cloud/applications). There is a free quota available. For more details, see [Aspose Cloud Pricing](https://purchase.aspose.cloud/pricing).

## Installation

### Using Go Modules (recommended)

1. Go to existing module directory, or create a new module (see <https://blog.golang.org/using-go-modules>)
1. Run `go get` command

    ```shell script
    go get -u github.com/aspose-barcode-cloud/aspose-barcode-cloud-go@v{{packageVersion}}
    ```

### Using GOPATH (for Go < 1.11 )

1. Run `go get` command outside module directory

    ```shell script
   go get -u github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/barcode
   ```

## Sample usage

### Generate an image with barcode

The examples below show how you can generate QR barcode and save it into a local file using **{{packageName}}**:

```go
package main

import (
    "context"
    "fmt"
    "github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/barcode"
    "github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/barcode/jwt"
    "os"
)

func main() {
    jwtConf := jwt.NewConfig(
        "Client Id from https://dashboard.aspose.cloud/applications",
        "Client Secret from https://dashboard.aspose.cloud/applications",
    )
    fileName := "testdata/generated.png"

    authCtx := context.WithValue(context.Background(),
        barcode.ContextJWT,
        jwtConf.TokenSource(context.Background()))

    client := barcode.NewAPIClient(barcode.NewConfiguration())

    data, _, err := client.BarcodeApi.GetBarcodeGenerate(authCtx,
        string(barcode.EncodeBarcodeTypeQR),
        "Go SDK example",
        nil)
    if err != nil {
        panic(err)
    }

    out, err := os.Create(fileName)
    if err != nil {
        panic(err)
    }
    defer out.Close()

    written, err := out.Write(data)
    if err != nil {
        panic(err)
    }

    fmt.Printf("Written %d bytes to file %s\n", written, fileName)
}
```

### Recognize a barcode on image

The examples below show how you can recognize barcode text and type on the image using **{{packageName}}**:

```go
package main

import (
    "context"
    "fmt"
    "github.com/antihax/optional"
    "github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/barcode"
    "github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/barcode/jwt"
    "os"
)

func main() {
    jwtConf := jwt.NewConfig(
        "Client Id from https://dashboard.aspose.cloud/applications",
        "Client Secret from https://dashboard.aspose.cloud/applications",
    )
    fileName := "testdata/pdf417Sample.png"

    file, err := os.Open(fileName)
    if err != nil {
        panic(err)
    }
    defer file.Close()

    client := barcode.NewAPIClient(barcode.NewConfiguration())
    authCtx := context.WithValue(context.Background(),
        barcode.ContextJWT,
        jwtConf.TokenSource(context.Background()))

    optionals := barcode.BarcodeApiPostBarcodeRecognizeFromUrlOrContentOpts{
        Preset: optional.NewString(string(barcode.PresetTypeHighPerformance)),
        Image:  optional.NewInterface(file),
    }

    recognized, _, err := client.BarcodeApi.PostBarcodeRecognizeFromUrlOrContent(
        authCtx,
        &optionals)
    if err != nil {
        panic(err)
    }

    if len(recognized.Barcodes) == 0 {
        fmt.Printf("No barcodes in %s", fileName)
    }

    for i, oneBarcode := range recognized.Barcodes {
        fmt.Printf("Recognized #%d: %s %s", i+1, oneBarcode.Type, oneBarcode.BarcodeValue)
    }
}
```

## Dependencies

- github.com/antihax/optional
- github.com/google/uuid
- golang.org/x/oauth2

## Licensing

All Aspose.BarCode for Cloud SDKs, helper scripts and templates are licensed under [MIT License](LICENSE).

## Resources

- [**Website**](https://www.aspose.cloud)
- [**Product Home**](https://products.aspose.cloud/barcode/)
- [**Documentation**](https://docs.aspose.cloud/barcode/)
- [**Free Support Forum**](https://forum.aspose.cloud/c/barcode)
- [**Paid Support Helpdesk**](https://helpdesk.aspose.cloud/)
- [**Blog**](https://blog.aspose.cloud/category/barcode/)

## Documentation for API Endpoints

All URIs are relative to *<{{{basePath}}}>*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
## Documentation For Models

{{#models}}{{#model}}- [{{{classname}}}]({{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}
