{{! Used as models.ts}}
{{#models}}
{{#model}}
{{#description}}

/**
 * {{{description}}}
 */
{{/description}}
{{#isEnum}}
export enum {{classname}} {
    {{#allowableValues}}{{#enumVars}}{{{name}}} = {{{value}}},
    {{/enumVars}}{{/allowableValues}}
}
{{/isEnum}}
{{^isEnum}}
export class {{classname}} {
{{#vars}}
{{#description}}
    /**
     * {{{description}}}
     */
{{/description}}
    '{{name}}'{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}

    static attributeTypeMap: Array<{ name: string; baseName: string; type: string }> = [
        {{#vars}}
        {
            name: '{{name}}',
            baseName: '{{baseName}}',
            type: '{{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}',
        },
        {{/vars}}
    ];

    static getAttributeTypeMap() {
        return {{classname}}.attributeTypeMap;
    }
}
{{/isEnum}}
{{/model}}
{{/models}}


{{#apiInfo}}
{{#apis}}

{{#operations}}

// {{classname}}

{{#operation}}

/**
 * {{{summary}}}
 */
export class {{operationIdCamelCase}}RequestWrapper {
    {{#allParams}}
    /**
     * {{{unescapedDescription}}}
     */
    '{{paramName}}{{#isFile}}Bytes{{/isFile}}'{{^required}}?{{/required}}: {{^isFile}}{{{dataType}}}{{/isFile}}{{#isFile}}Buffer{{/isFile}}{{#defaultValue}}={{#isString}}"{{{.}}}"{{/isString}}{{^isString}}{{{.}}}{{/isString}}{{/defaultValue}};
    {{/allParams}}

    {{#requiredParams.0}}
    /**{{#requiredParams}}
     * @param {{paramName}}{{#isFile}}Bytes{{/isFile}} {{{unescapedDescription}}}
     {{/requiredParams}}*/
    constructor({{#requiredParams}} {{paramName}}{{#isFile}}Bytes{{/isFile}} : {{^isFile}}{{{dataType}}}{{/isFile}}{{#isFile}}Buffer{{/isFile}}{{^-last}},{{/-last}} {{/requiredParams}}) {
    {{#requiredParams}}
        this.{{paramName}}{{#isFile}}Bytes{{/isFile}} = {{paramName}}{{#isFile}}Bytes{{/isFile}};
    {{/requiredParams}}
    }
    {{/requiredParams.0}}
}
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
