[tox]
{{^asyncio}}
envlist = py27, py3
{{/asyncio}}
{{#asyncio}}
envlist = py3
{{/asyncio}}

[testenv]
passenv = TEST_ACCESS_TOKEN
deps=-r{toxinidir}/requirements.txt
     -r{toxinidir}/test-requirements.txt

commands=
{{^asyncio}}
    python -m unittest discover -v
{{/asyncio}}
{{#asyncio}}
    pytest -v --cov petstore_api
{{/asyncio}}
    python example.py
