# {{artifactId}}

[![Build Android App](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-android/actions/workflows/build.yml/badge.svg?branch=main)](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-android/actions/workflows/build.yml)
![API version: {{appVersion}}](https://img.shields.io/badge/api-v{{appVersion}}-lightgrey)
[![GitHub license](https://img.shields.io/github/license/aspose-barcode-cloud/aspose-barcode-cloud-android)](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-android)

This [cloud SDK assists you to seamlessly integrate barcode generation](https://products.aspose.cloud/barcode/), processing & conversion functionality into your Android & other Java cloud apps.
Generate new barcodes (Linear, 2D & Postal), configure barcode properties and attributes, such as barcode height, dimensions, image format, and more.
Scan existing barcodes belonging to 60+ symbologies, including, *Codabar*, *PDF417*, QR, *MicroQR*, *EAN*, *Postnet*, *UPC*, *RM4SCC* and many more.

## BarCode Processing Features

- [Generate](https://docs.aspose.cloud/barcode/v4.0/quickstart/#make-an-api-request-from-the-sdk-of-your-choice), scan and customize *1D* (linear), *2D* and *postal* barcodes.
- Generate and recognize barcodes with the checksum option.
- Fetch barcode as an image stream or save the barcode to the local disk.
- Configure barcode height, width, angle quality, margin & resolution.
- Configure barcode to be auto-sized or set X & Y dimensions.
- Generate a new barcode with a specified code text location.
- Apply bar height and barcode image format.
- Rotate the barcode image at a certain angle & generate multiple barcodes.
- Scan image to recognize barcode from a specific region of that image.
- Recognize the specified number of barcodes.
- Apply image processing algorithms to read barcodes.

## Read & Write PDF Formats

JPEG, TIFF, PNG, BMP, GIF

## Save BarCode As

JPEG, TIFF, PNG, BMP, GIF, EMF, SVG

## Supported Barcode Symbologies

### Linear barcode symbologies:

EAN13, EAN8, UPCA, UPCE, Interleaved2of5, Standard2of5, MSI, Code11, Codabar, EAN14(SCC14), SSCC18, ITF14, Matrix 2 of 5, PZN, Code128, Code39 Extended, Code39 Standard, Code93 Extended, Code16K, Code93 Standard, IATA 2 of 5, OPC, GS1Code128, ISBN, ISMN, ISSN, ITF6, VIN, Pharmacode, DatabarOmniDirectional, DatabarTruncated, DatabarLimited, DatabarExpanded, DatabarStackedOmniDirectional, DatabarExpandedStacked, DatabarStacked, PatchCode, Supplement (Decode only).

### 2D barcode symbologies:

PDF417, MacroPDF417, MicroPDF417, CompactPDF417 (Decode only), DataMatrix, Aztec, QR, MicroQR, DotCode, MaxiCode, Italian Post 25, GS1DataMatrix, Code16K.

### Postal barcode symbologies:

Postnet, Planet, USPS OneCode, Australia Post, Deutsche Post Identcode, Deutsche Post Leticode, RM4SCC, SingaporePost, AustralianPosteParcel, SwissPostParcel, UpcaGs1DatabarCoupon.

## New Features & Enhancements Version 21.2

- `CheckMore1DVariants` Allows engine to recognize `1D barcodes` with checksum by checking more recognition variants. Default value: `False`

## New Features & Enhancements Version 20.12

- Added the Structured Append support to the QR encoder.
-Added the Kanji encoding to the QR encoder.

## New Features & Enhancements in Version 20.11

- Updated and fixed the UI components.
- Added additional fields to the Databar section.
- Added the Datamatrix support for Macro 5 and 6.

## New Features & Enhancements in Version 20.10

- Investigated the addition of NoWrap mode to BarcodeGenerator text fields.
- Add the encodation scheme selector to the DataMatrix codetext.

## Prerequisites

To use Aspose Barcode Cloud for Android you need to register an account with [Aspose Cloud](https://www.aspose.cloud) and lookup/create Client Secret and SID at [Cloud Dashboard](https://dashboard.aspose.cloud/applications). There is free quota available. For more details, see [Aspose Cloud Pricing](https://purchase.aspose.cloud/).

## Getting Started

- Open project in Android Studio

- Go to file *app/src/main/java/com/example/asposebarcodecloud/MainActivity.kt* and set *clientId* and *clientSecret* to apropriate values from <https://dashboard.aspose.cloud/applications>

- Build project and run application on connected device or emulator.

## Generate Code128 BbarCode in Android using Java

```java
    // Get your ClientId and ClientSecret from https://dashboard.aspose.cloud (free registration required).
    ApiClient client = new ApiClient("MY_CLIENT_ID", "MY_CLIENT_SECRET");

    BarcodeApi api = new BarcodeApi(client);

    String type = "code128";
    String text = "text example";

    File result = api.getBarcodeGenerate(type, text);
    System.out.println(result);
```

## Licensing

All Aspose.BarCode for Cloud SDKs, helper scripts and templates are licensed under [MIT License](LICENSE).

## Aspose.Barcode Cloud SDKs in Popular Languages

| .NET | Java | PHP | Python| Node.js | Android | Go |
|------|------|-----|-------|---------|---------|----|
| [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-dotnet) | [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-java) | [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-php) | [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-python) | [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-node) | [GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-android) |[GitHub](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-go)|
| [NuGet](https://www.nuget.org/packages/Aspose.barcode-Cloud/) | [Maven](https://repository.aspose.cloud/webapp/#/artifacts/browse/tree/General/repo/com/aspose/aspose-barcode-cloud) | [Composer](https://packagist.org/packages/aspose/barcode-cloud-php) | [PIP](https://pypi.org/project/aspose-barcode-cloud/) | [NPM](https://www.npmjs.com/package/aspose-barcode-cloud-node) | [Maven](https://repository.aspose.cloud/webapp/#/artifacts/browse/tree/General/repo/com/aspose/aspose-barcode-cloud) |[Go.Dev](https://pkg.go.dev/github.com/aspose-barcode-cloud/aspose-barcode-cloud-go/) |

[Product Page](https://products.aspose.cloud/barcode/) | [Documentation](https://docs.aspose.cloud/display/barcodecloud/Home) | [API Reference](https://apireference.aspose.cloud/barcode/) | [Code Samples](https://github.com/aspose-barcode-cloud/aspose-barcode-cloud-android) | [Blog](https://blog.aspose.cloud/categories/aspose.barcode-cloud-product-family/) | [Free Support](https://forum.aspose.cloud/c/barcode) | [Free Trial](https://dashboard.aspose.cloud/#/apps)
